<%layout("/layouts/boilerplate.ejs")%>

<div class="login-big-div login-stu">
  <div class="right-login">
    <div class="login-card pop-out">
      <div style="text-align: center">
        <a href="/"
          ><img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
            loading="lazy"
            width="250"
            alt=""
        /></a>
      </div>
      <br />
      <h3 style="font-size: 1.5rem; text-align: center">
        Sign-in to NFSU Placement Portal
      </h3>
      <br />
      <h5 class="login-identity"><p>Student</p></h5>
      <br />
      <form id="captchaForm" action="/auth/twofactorauth" method="post">
        <input
          type="text"
          name="username"
          style="text-align: center"
          placeholder="Placement ID"
        />
        <br />
        <input
          type="password"
          style="text-align: center"
          name="password"
          placeholder="Password"
        />
        <br />
        <h6
          data-bs-toggle="collapse"
          data-bs-target="#message55"
          style="cursor: pointer"
        >
          Forgot Password?
        </h6>

        <div
          class="collapse"
          id="message55"
          style="background-color: transparent"
        >
          <div
            class="card card-body"
            style="
              background-color: transparent;
              border: dashed thin midnightblue;
              padding: 0.5rem;
              text-align: center;
            "
          >
            You can Only Reset Your Password ONCE. <br />
            Do you wish to Continue? <br />
            <br />
            <a
              href="/auth/resetpass"
              class="btn btn-primary"
              style="
                color: white;
                text-decoration: none;
                background-color: darkblue;
                border: none;
              "
              >Reset Password</a
            >
          </div>
        </div>

        <br />
        <!-- <button
          class="g-recaptcha btn btn-lg btn-primary"
          data-sitekey=""
          data-callback="onSubmit"
          data-action="submit"
        >
          Sign-In
        </button> -->
        <!-- <div
          class="g-recaptcha"
          required
          data-sitekey=""
          data-action="LOGIN"
        ></div>
        <br /> -->
        <button class="btn btn-lg btn-primary" type="submit">Sign-In</button>
      </form>

      <br />
      <div class="register-here">
        <a href="/auth/otp-initialize/?username=Student"
          >Don't have an account? Register Here</a
        >
      </div>

      <!-- <button id="btn">ajsldkfa</button> -->
    </div>
  </div>
  <!-- <iframe
    src="https://lottie.host/embed/b20d212e-3996-4173-b8d7-269a2354ddfb/VrezmcUPp8.json"
    id="iframe"
    style="position: absolute; left: 50; top: 50; display: none"
  ></iframe> -->
</div>

<!-- <script>
  let btn = document.getElementById("btn");
  btn.addEventListener("click", () => {
    let loading = document.getElementById("iframe");
    loading.style.display = "block";
  });
</script> -->
