<%layout("/layouts/boilerplate.ejs")%>
<div class="login-big-div login-stu">
  <div class="right-login">
    <div class="login-card pop-out">
      <div style="text-align: center">
        <a href="/"
          ><img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
            loading="lazy"
            width="250"
            alt=""
        /></a>
      </div>
      <br />
      <h3 style="font-size: 1.5rem; text-align: center">
        Sign-in to NFSU Placement Portal
      </h3>
      <br />
      <h5 class="login-identity"><p>Student</p></h5>
      <br />
      <form action="/login-student" method="post">
        <input
          type="text"
          name="username"
          style="text-align: center"
          placeholder="Placement ID"
        />
        <br /><br />
        <input
          type="password"
          style="text-align: center"
          name="password"
          placeholder="Password"
        />
        <br /><br /><br />
        <h6
          data-bs-toggle="collapse"
          data-bs-target="#message55"
          style="cursor: pointer"
        >
          Forgot Password?
        </h6>

        <div
          class="collapse"
          id="message55"
          style="background-color: transparent"
        >
          <div
            class="card card-body"
            style="
              background-color: transparent;
              border: dashed thin midnightblue;
              padding: 0.5rem;
            "
          >
            Please Contact the Admin For Password Change Request.
          </div>
        </div>

        <br />
        <button class="btn btn-lg btn-primary" type="submit">Sign-In</button>
      </form>

      <br /><br />
      <div class="register-here">
        <a href="/otp-initialize/?username=Student"
          >Don't have an account? Register Here</a
        >
      </div>
    </div>
  </div>
</div>
