<%layout("/layouts/boilerplate.ejs")%>
<link rel="stylesheet" href="/style.css" />
<div class="login-big-div login-stu">
  <div class="login-card pop-out row">
    <div
      class="col-md-4"
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="login-img-div" style="justify-self: start;">
        <a href="/"
          ><img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
            loading="lazy"
            alt=""
        /></a>
      </div>
      <br />
      <br />
      <h5 class="login-identity"><p><%=username%></p></h5>
      <h4 style="text-align: center">
        <br />
        Registration
        <br />
        <br />
        NFSU Gandhinagar Campus Placement
      </h4>
      <br /><br />
      <br /><br />
    </div>
    <div class="col-md-8">
      <%if(username == "Recruiter"){%>
      <form action="/sendotp" method="post">
        <label style="width: 100%"
          ><h6>Email ID</h6>
          <br />
          <input
            type="email"
            name="email"
            required
            style="text-align: center"
            placeholder="Enter Your Email"
          />
        </label>
        <input
          type="text"
          name="username"
          style="display: none"
          value="<%=username%>"
        />
        <br />
        <button class="btn btn-lg btn-primary" type="submit">
          Verify Your Email
        </button>
      </form>
      <%}else{%>
      <form action="/sendotp" method="post">
        <input
          type="text"
          name="username"
          style="display: none"
          value="<%=username%>"
        />
        <label style="width: 100%"
          ><h6>Full Name</h6>
          <input
            required
            type="text"
            name="stuname"
            placeholder="Enter Your Full Name"
            style="text-align: center"
          />
        </label>
        <br />
        <label style="width: 100%"
          ><h6>Enrollment No.</h6>
          <input
            type="number"
            placeholder="Enter Your Enrollment No."
            required
            style="text-align: center"
            name="enrollnostu"
          />
        </label>

        <br />
        <label style="width: 100%"
          ><h6>Email ID</h6>
          <input
            required
            type="email"
            name="email"
            style="text-align: center"
            placeholder="Enter Your Email"
          />
        </label>
        <br />

        <label style="width: 100%"
          ><h6>Mobile Number</h6>
          <input
            type="tel"
            required
            name="stumobno"
            style="text-align: center"
            placeholder="Enter Your Mobile No."
        /></label>

        <br />
        <label style="width: 100%"
          ><h6>Course Name</h6>

          <select
            required
            style="text-align: center"
            name="coursename"
            class="form-control"
          >
            <option selected value="MscCs">MSc. Cyber Security</option>
            <option value="MscDfis">MSc. DFIS</option>
            <option value="MtechCs">MTech. Cyber Security</option>
            <option value="MtechAdsai">MTech. ADSAI</option>
          </select>
        </label>
        <br />

        <button class="btn btn-lg btn-primary" type="submit">
          Verify Your Email
        </button>
      </form>
      <%}%>

      <br /><br />
    </div>
    <!-- <div class="register-here">
        <a href="/register/stu">Don't have an account? Register Here</a>
      </div> -->
  </div>
</div>
