<%layout("/layouts/boilerplate.ejs")%>
<link rel="stylesheet" href="/style.css" />
<div class="regis-big-div">
  <div class="left-login">
    <div class="pop-out">
      <a href="/"
        ><img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
          alt=""
      /></a>
    </div>
  </div>
  <form
    novalidate
    class="needs-validation"
    action="/register/rec"
    method="post"
  >
    <div class="down-regis">
      <div class="resources-student-big-div">
        <div class="content-div regis-content-div">
          <div class="content-title container">
            <h2 style="text-align: center">Registration : Recruiter</h2>
            <hr />
            <h2>Company's Information</h2>
            <br />

            <div class="input-fields">
              <div class="form-group">
                <label for="CompanyName">Company Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="companyname"
                  id="CompanyName"
                  placeholder="Company Name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="NatureofBusiness">Nature of Business</label>
                <input
                  type="text"
                  class="form-control"
                  name="natureofbusiness"
                  id="NatureofBusiness"
                  placeholder="Nature of Business"
                  required
                />
              </div>
              <div class="form-group">
                <label for="Website">Website Link</label>
                <input
                  type="text"
                  class="form-control"
                  name="websitelink"
                  id="Website"
                  placeholder="Website Link"
                  required
                  value="hehe"
                />
              </div>
              <div class="form-group">
                <label for="PostalAddress">Postal Address</label>
                <input
                  type="text"
                  class="form-control"
                  name="postaladdress"
                  id="PostalAddress"
                  placeholder="Postal Address"
                  required
                  value="hehe"
                />
              </div>
              <div class="form-group">
                <label for="Category">Category of Business</label>
                <input
                  type="text"
                  name="category"
                  class="form-control"
                  id="Category"
                  placeholder="Category of Business"
                  required
                  value="hehe"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="content-div regis-content-div">
          <div class="content-title container">
            <hr />
            <h2>Communication Details</h2>
            <br />
            <div class="comm-fields">
              <h4>HEAD HR</h4>
              <div class="input-fields">
                <div class="form-group">
                  <label for="hrname">HR-Name</label>
                  <input
                    type="text"
                    class="form-control"
                    value="123322"
                    id="hrname"
                    required
                    name="hrname"
                    placeholder="HR-Name"
                  />
                </div>
                <div class="form-group">
                  <label for="Designation">Designation </label>
                  <input
                    type="text"
                    class="form-control"
                    id="Designation"
                    name="hrdesignation"
                    value="hehe"
                    required
                    placeholder="Designation"
                  />
                </div>
                <div class="form-group">
                  <label for="OfficeAddress">Office Address </label>
                  <textarea
                    type="text"
                    value="hehe"
                    class="form-control"
                    id="OfficeAddress"
                    required
                    name="hrofficeaddress"
                    placeholder="Office Address"
                  >
                  </textarea>
                </div>
                <div class="form-group">
                  <label for="MobileNumber">Mobile Number</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="MobileNumber"
                    required
                    name="hrmobileno"
                    placeholder="Mobile Number"
                  />
                </div>
                <div class="form-group">
                  <label for="TelephoneNumber">Alternate Mobile Number</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="TelephoneNumber"
                    required
                    name="althrmobileno"
                    placeholder="Alternate Mobile Number"
                  />
                </div>

                <div class="form-group">
                  <label for="EmailId"> Email Id</label>
                  <input
                    type="email"
                    class="form-control"
                    name="hremail"
                    required
                    id="EmailId"
                    placeholder="Email Id"
                  />
                </div>
              </div>
              <h4>HEAD POC-1</h4>
              <div class="input-fields">
                <div class="form-group">
                  <label for="pocname">POC-Name</label>
                  <input
                    type="text"
                    class="form-control"
                    value="123322"
                    id="pocname"
                    required
                    name="pocname"
                    placeholder="POC-Name"
                  />
                </div>
                <div class="form-group">
                  <label for="pocDesignation">Designation </label>
                  <input
                    type="text"
                    class="form-control"
                    id="pocDesignation"
                    name="pocdesignation"
                    value="hehe"
                    required
                    placeholder="Designation"
                  />
                </div>
                <div class="form-group">
                  <label for="pocOfficeAddress">Office Address </label>
                  <textarea
                    type="text"
                    value="hehe"
                    class="form-control"
                    id="pocOfficeAddress"
                    required
                    name="pocofficeaddress"
                    placeholder="Office Address"
                  >
                  </textarea>
                </div>
                <div class="form-group">
                  <label for="pocMobileNumber">Mobile Number</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="pocMobileNumber"
                    required
                    name="pocmobileno"
                    placeholder="Mobile Number"
                  />
                </div>
                <div class="form-group">
                  <label for="pocTelephoneNumber"
                    >Alternate Mobile Number</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    id="pocTelephoneNumber"
                    required
                    name="altpocmobileno"
                    placeholder="Alternate Mobile Number"
                  />
                </div>

                <div class="form-group">
                  <label for="pocEmailId"> Email Id</label>
                  <input
                    type="email"
                    class="form-control"
                    name="pocemail"
                    required
                    id="pocEmailId"
                    placeholder="Email Id"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div regis-content-div" id="procedure">
          <div class="content-title container">
            <hr />
            <h2>Offering Details</h2>
            <br />
            <div class="comm-fields">
              <div class="input-fields">
                <div class="form-group">
                  <label for="JobType"> Job Type </label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    name="jobtype"
                    id="JobType"
                    placeholder="Job Type"
                  />
                </div>
                <div class="form-group">
                  <label for="JobDesignation"> Job Designation </label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    name="jobdesignation"
                    id="JobDesignation"
                    placeholder=" Job Designation"
                  />
                </div>
                <div class="form-group">
                  <label for="Sector">Sector</label>
                  <select required name="sector" class="form-check" id="Sector">
                    <option value="Software/Coding/IT">
                      Software/Coding/IT
                    </option>
                    <option value="Analytics">Analytics</option>
                    <option value="Core(Technical)">Core(Technical)</option>
                    <option value="Consulting">Consulting</option>
                    <option value="Product Management">
                      Product Management
                    </option>
                    <option value="Finance">Finance</option>
                    <option value="Data Science/ AI/ ML">
                      Data Science/ AI/ ML
                    </option>
                    <option value="Research Teaching">Research Teaching</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="TentativenoofHires">Tentative no. of Hires</label>
                  <input
                    type="number"
                    class="form-control"
                    id="TentativenoofHires"
                    name="tentativenoofhires"
                    required
                    placeholder="Tentative no. of Hires"
                  />
                </div>
                <div class="form-group">
                  <label for="TentativeJobLocation">
                    Tentative Job Location
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    name="tentativejoblocation"
                    id="TentativeJobLocation"
                    placeholder=" Tentative Job Location"
                  />
                </div>
                <div class="form-group">
                  <label for="JobDescription">Job Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="JobDescription"
                    required
                    name="JobDescription"
                    placeholder="Job Description"
                  >
                  </textarea>
                </div>
                <div class="form-group">
                  <label for="AttachFile"> Attach File </label>
                  <input
                    type="file"
                    class="form-control"
                    required
                    name="attachedfile"
                    id="AttachFile"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-title container">
          <hr />
          <h2>Eligibility Matrix</h2>
          <br />
          <div class="comm-fields">
            <div class="input-fields">
              <div class="form-group">
                <label> Cyber Security </label>
              </div>

              <div class="form-check">
                <label class="form-check-cs" for="MTechCS"> MTech </label>
                <input
                  class="form-check-input mx-3"
                  required
                  name="cybersecuritycourse"
                  type="checkbox"
                  value="MTechCS"
                  id="MTechCS"
                />
              </div>
              <div class="form-check">
                <label class="form-check-cs" for="MScCS"> MSc </label>
                <input
                  class="form-check-input mx-3"
                  required
                  name="cybersecuritycourse"
                  type="checkbox"
                  value="MScCS"
                  id="MScCS"
                />
              </div>
            </div>
          </div>
          <div class="comm-fields">
            <div class="input-fields">
              <div class="form-group">
                <label> Digital Forensics and Information Security </label>
              </div>

              <div class="form-check">
                <label class="form-check-label" for="MTechDFIS"> MTech </label>
                <input
                  class="form-check-input mx-3"
                  required
                  name="dfiscourse"
                  type="checkbox"
                  value="MTechDFIS"
                  id="MTechDFIS"
                />
              </div>
              <div class="form-check">
                <label class="form-check-label" for="MScDFIS"> MSc </label>
                <input
                  class="form-check-input mx-3"
                  required
                  name="dfiscourse"
                  type="checkbox"
                  value="MScDFIS"
                  id="MScDFIS"
                />
              </div>
            </div>
          </div>
          <div class="comm-fields">
            <div class="input-fields">
              <div class="form-group">
                <label> Artificial Intelligence and Data Science </label>
              </div>

              <div class="form-check">
                <label class="form-check-label" for="MTechAIML"> MTech </label>
                <input
                  class="form-check-input mx-3"
                  required
                  name="aidscourse"
                  type="checkbox"
                  value="MTechAIML"
                  id="MTechAIML"
                />
              </div>
              <div class="form-check">
                <label class="form-check-label" for="MscAIML"> MSc </label>
                <input
                  class="form-check-input mx-3"
                  required
                  name="aidscourse"
                  type="checkbox"
                  value="MTechAIML"
                  id="MscAIML"
                />
              </div>
              <div class="form-group">
                <label for="Categorycomp">Category Compensation</label>
                <input
                  type="text"
                  class="form-control"
                  name="categorycompensation"
                  id="Categorycomp"
                  placeholder="Category"
                  required
                />
              </div>
            </div>
          </div>
        </div>
        <div class="content-title container">
          <hr />
          <h2>Campus Process Mode</h2>
          <br />
          <div class="comm-fields">
            <div class="input-fields">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="no"
                  name="isvirtual"
                  id="CampusProcessMode"
                  required
                />
                <label class="form-check-label" for="CampusProcessMode">
                  Virtual – All processes are conducted online
                </label>
              </div>
            </div>
          </div>
          <div class="comm-fields">
            <div class="input-fields">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="yes"
                  name="isvirtual"
                  id="CampusProcessMode2"
                  required
                />
                <label class="form-check-label" for="CampusProcessMode2">
                  In-campus – All processes are conducted in campus
                </label>
              </div>
            </div>
          </div>
          <div class="comm-fields">
            <div class="input-fields">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="hybrid"
                  name="isvirtual"
                  id="CampusProcessMode3"
                  required=""
                />
                <label class="form-check-label" for="CampusProcessMode3">
                  Hybrid – Some processes are conducted online while some in
                  campus
                </label>
              </div>
            </div>
          </div>
          <div class="comm-fields">
            <div class="input-fields">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="notdecided"
                  name="isvirtual"
                  id="CampusProcessMode4"
                  required
                />
                <label class="form-check-label" for="CampusProcessMode4">
                  Undecided
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div regis-content-div" id="procedure">
          <div class="content-title container">
            <hr />
            <h2>Declaration</h2>
            <br />
            I declare that I have read and understood all the terms and
            conditions mentioned in the advertisement. I fulfil all the
            requirements for candidature/appointment, on the basis of which the
            above details are filled in the online application and I have the
            original documents available. I am able to present whatever document
            is demanded by the university at any time. The above mentioned
            details are true and correct to my knowledge and belief and if any
            of the details are incorrect or the documents are found to be
            defective then my candidature/appointment is subject to revocation
            at any stage ab initio and I will be liable for criminal
            proceedings. I agree to it and the decision of the university in
            this matter will be final and it is binding on me.
            <br />
            Note: Your application will be considered valid only after mandatory
            confirmation on this website.
            <br /><br />
            <div class="form-check">
              <label class="form-check-label" for="flexCheckDefault11">
                I Agree
              </label>
              <input
                class="form-check-input"
                required
                type="checkbox"
                value=""
                id="flexCheckDefault11"
              />
            </div>
            <br />
            <div class="submit-btn">
              <button class="btn btn-lg btn-success">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  // JavaScript for form validation
  (function () {
    "use strict";
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
