 <%-include("../includes/flash.ejs")%><html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <title>Registration Recruiter</title>
    <style>
      .regis-big-div {
        width: 100%;
        display: flex;
        flex-direction: column;

        align-items: center;
        overflow: hidden;
      }

      .regis-big-div form {
        line-height: 2rem;
      }
      .regis-big-div form .form-group {
        width: fit-content;
      }
      .regis-logo {
        width: 100%;
        height: 15rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: powderblue;
      }
      .regis-logo-img {
        width: 28rem;
        height: 10rem;
        background: url("https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png");
        background-size: cover;
        background-position: center;
      }
      /* .regis-logo-img img {
  object-fit: contain;
} */

      .input-fields {
        display: flex;
        flex-wrap: wrap;
      }
      .form-group {
        margin-right: 05rem;
        margin-bottom: 1rem;
      }

      .form-group input {
        width: 15rem;
      }

      .down-regis .card {
        background-color: transparent;
        border: 0;
        width: 20rem;
      }
      .down-regis .card p {
        margin: 0;
      }
      /* .down-regis button {
  margin: 3rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 10rem;
} */
      .submit-btn {
        display: flex;
        justify-content: center;
      }

      .card-body {
        padding: 0;
      }
      .regis-card-title {
        text-align: start !important;
      }

      .comm-fields {
        display: flex;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <div
      class="regis-big-div"
      style="
        background: linear-gradient(to left, white, rgba(179, 241, 255, 0.4));
        border-top-left-radius: 0rem;
        border-top-right-radius: 200rem;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        margin-top: 2rem;
        z-index: -5;
        overflow: visible;
      "
    >
      <div
        class="left-login"
        style="width: 100%; display: flex; justify-content: center"
      >
        <div class="pop-out">
          <a href="/"
            ><img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
              width="250"
              style="padding: 1rem"
              alt=""
          /></a>
        </div>
      </div>
      <form
        novalidate=""
        class="needs-validation"
        action="/register/rec"
        method="post"
      >
        <div class="down-regis">
          <div class="resources-student-big-div">
            <div class="content-div regis-content-div">
              <div class="content-title container">
                <h2
                  style="
                    text-align: center;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    margin-bottom: 0;
                  "
                >
                  Registration : Recruiter
                </h2>
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Company's Information
                </h2>
                <br />

                <div class="input-fields">
                  <div class="form-group">
                    <label for="CompanyName">Company Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="companyname"
                      value="aa"
                      id="CompanyName"
                      placeholder="Company Name"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="NatureofBusiness">Nature of Business</label>
                    <input
                      type="text"
                      class="form-control"
                      name="natureofbusiness"
                      value="aa"
                      id="NatureofBusiness"
                      placeholder="Nature of Business"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="Website">Website Link</label>
                    <input
                      type="text"
                      class="form-control"
                      name="websitelink"
                      id="Website"
                      placeholder="Website Link"
                      required
                      value="hehe"
                    />
                  </div>
                  <div class="form-group">
                    <label for="PostalAddress">Postal Address</label>
                    <input
                      type="text"
                      class="form-control"
                      name="postaladdress"
                      id="PostalAddress"
                      placeholder="Postal Address"
                      required
                      value="hehe"
                    />
                  </div>
                  <div class="form-group">
                    <label for="Category">Category of Business</label>
                    <input
                      type="text"
                      name="category"
                      class="form-control"
                      id="Category"
                      placeholder="Category of Business"
                      required
                      value="hehe"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="content-div regis-content-div">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Communication Details
                </h2>
                <br />
                <div class="comm-fields">
                  <div class="input-fields" style="overflow-x: scroll">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="background-color: #163269; color: white">
                            Position
                          </th>
                          <th style="background-color: #163269; color: white">
                            Name
                          </th>
                          <th style="background-color: #163269; color: white">
                            Designation
                          </th>
                          <th style="background-color: #163269; color: white">
                            Mobile Number
                          </th>
                          <th style="background-color: #163269; color: white">
                            Telephone Number
                          </th>
                          <th style="background-color: #163269; color: white">
                            Email Id
                          </th>
                          <th style="background-color: #163269; color: white">
                            Official Address
                          </th>
                          <th
                            style="background-color: #163269; color: white"
                          ></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>
                            <h5 style="text-align: center">Head HR</h5>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              name="headhrname"
                              value="3"
                              placeholder="Name"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              value="3"
                              name="headhrdesignation"
                              placeholder="Designation"
                              required
                            />
                          </td>

                          <td>
                            <input
                              type="tel"
                              class="form-control"
                              value="3"
                              name="headhrmobno"
                              placeholder="Mobile no"
                              required
                            />
                          </td>

                          <td>
                            <input
                              type="tel"
                              class="form-control"
                              value="3"
                              name="headhraltmobno"
                              placeholder="Alternate Mobile no"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="email"
                              class="form-control"
                              name="headhremail"
                              value="<%=email%>"
                              placeholder="Email Id"
                              required
                            />
                          </td>
                          <td>
                            <textarea
                              type="text"
                              class="form-control"
                              name="headhraddress"
                              placeholder="Address"
                              required
                            >
dasdf</textarea
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h5 style="text-align: center">POC 1</h5>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              name="poc1name"
                              value="a"
                              placeholder="Name"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              name="poc1designation"
                              placeholder="Designation"
                            />
                          </td>

                          <td>
                            <input
                              type="tel"
                              class="form-control"
                              name="poc1mobno"
                              placeholder="Mobile no"
                            />
                          </td>

                          <td>
                            <input
                              type="tel"
                              class="form-control"
                              name="poc1altmobno"
                              placeholder="Alternate Mobile no"
                            />
                          </td>
                          <td>
                            <input
                              type="email"
                              class="form-control"
                              name="poc1email"
                              placeholder="Email Id"
                            />
                          </td>
                          <td>
                            <textarea
                              type="text"
                              class="form-control"
                              name="poc1address"
                              placeholder="Address"
                            ></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h5 style="text-align: center">POC 2</h5>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              name="poc2name"
                              value="a"
                              placeholder="Name"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              name="poc2designation"
                              placeholder="Designation"
                            />
                          </td>

                          <td>
                            <input
                              type="tel"
                              class="form-control"
                              name="poc2mobno"
                              placeholder="Mobile no"
                            />
                          </td>

                          <td>
                            <input
                              type="tel"
                              class="form-control"
                              name="poc2altmobno"
                              placeholder="Alternate Mobile no"
                            />
                          </td>
                          <td>
                            <input
                              type="email"
                              class="form-control"
                              name="poc2email"
                              placeholder="Email Id"
                            />
                          </td>
                          <td>
                            <textarea
                              type="text"
                              class="form-control"
                              name="poc2address"
                              placeholder="Address"
                            ></textarea>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-div regis-content-div" id="procedure">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Offering Details
                </h2>
                <br />
                <div class="comm-fields">
                  <div class="input-fields">
                    <div class="form-group">
                      <label for="JobTitle"> Job Title </label>
                      <input
                        type="text"
                        class="form-control"
                        value="a"
                        required
                        name="jobtitle"
                        id="JobTitle"
                        placeholder="Job Title"
                      />
                    </div>
                    <div class="form-group">
                      <label for="JobType"> Job Type </label>
                      <input
                        type="text"
                        class="form-control"
                        value="a"
                        required
                        name="jobtype"
                        id="JobType"
                        placeholder="Job Type"
                      />
                    </div>
                    <div class="form-group">
                      <label for="JobDesignation"> Job Designation </label>
                      <input
                        type="text"
                        class="form-control"
                        required
                        value="a"
                        name="jobdesignation"
                        id="JobDesignation"
                        placeholder=" Job Designation"
                      />
                    </div>
                    <div class="form-group">
                      <label for="Sector">Sector</label>
                      <select
                        required
                        name="sector"
                        class="form-check"
                        id="Sector"
                      >
                        <option value="Software/Coding/IT">
                          Software/Coding/IT
                        </option>
                        <option value="Analytics">Analytics</option>
                        <option value="Core(Technical)">Core(Technical)</option>
                        <option value="Consulting">Consulting</option>
                        <option value="Product Management">
                          Product Management
                        </option>
                        <option value="Finance">Finance</option>
                        <option value="Data Science/ AI/ ML">
                          Data Science/ AI/ ML
                        </option>
                        <option value="Research Teaching">
                          Research Teaching
                        </option>
                        <option value="Others">Others</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="TentativenoofHires"
                        >Tentative no. of Hires</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        value="1"
                        id="TentativenoofHires"
                        name="tentativenoofhires"
                        required
                        placeholder="Tentative no. of Hires"
                      />
                    </div>
                    <div class="form-group">
                      <label for="TentativeJobLocation">
                        Tentative Job Location
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        required
                        value="a"
                        name="tentativejoblocation"
                        id="TentativeJobLocation"
                        placeholder=" Tentative Job Location"
                      />
                    </div>
                    <div class="form-group">
                      <label for="JobDescription">Job Description</label>
                      <textarea
                        type="text"
                        class="form-control"
                        id="JobDescription"
                        required
                        name="JobDescription"
                        placeholder="Job Description"
                      >
      a
                        </textarea
                      >
                      <!-- <label for="AttachFile"> Attach File </label>
                      <input type="file" class="form-control" id="AttachFile" /> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-div regis-content-div" id="procedure">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Eligibility Matrix
                </h2>
                <br />
                <div class="comm-fields">
                  <div class="input-fields">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="background-color: #163269; color: white">
                            Discipline
                          </th>
                          <th style="background-color: #163269; color: white">
                            MTech
                          </th>
                          <th style="background-color: #163269; color: white">
                            MSc
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Cyber Security</td>
                          <td>
                            <input
                              class="form-check-input courseInputCheck"
                              type="checkbox"
                              value="yes"
                              name="checkmtechcs"
                              id="checkmtechcs"
                            />
                          </td>
                          <td>
                            <input
                              class="form-check-input courseInputCheck"
                              type="checkbox"
                              value="yes"
                              name="checkmsccs"
                              id="checkmsccs"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td>Digital Forensics &amp; Infromation Security</td>
                          <td>
                            <input
                              class="form-check-input courseInputCheck"
                              type="checkbox"
                              style="display: none"
                              value="MTechDFIS"
                              disabled
                            />
                          </td>
                          <td>
                            <input
                              class="form-check-input courseInputCheck"
                              type="checkbox"
                              value="yes"
                              name="checkmscdfis"
                              id="checkmscdfis"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td>Applied Data Science &amp; Digital Forensics</td>
                          <td>
                            <input
                              class="form-check-input courseInputCheck"
                              type="checkbox"
                              value="yes"
                              name="checkmtechadsai"
                              id="checkmtechadsai"
                            />
                          </td>
                          <td>
                            <input
                              class="form-check-input courseInputCheck"
                              type="checkbox"
                              style="display: none"
                              id="MTechAIDS"
                              disabled
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <br />
            <div class="content-div regis-content-div">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Compensation Details
                </h2>
                <br />
                <div class="comm-fields">
                  <div class="input-fields" style="overflow-x: scroll">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="background-color: #163269; color: white">
                            Course
                          </th>
                          <th style="background-color: #163269; color: white">
                            Basic
                          </th>
                          <th style="background-color: #163269; color: white">
                            Provident Fund and Gratuity
                          </th>
                          <th style="background-color: #163269; color: white">
                            HRA
                          </th>
                          <th style="background-color: #163269; color: white">
                            Joining Bonus
                          </th>

                          <th style="background-color: #163269; color: white">
                            Relocation Bonus
                          </th>
                          <th style="background-color: #163269; color: white">
                            Stocks(with vesting plan)
                          </th>
                          <th style="background-color: #163269; color: white">
                            Take Home
                          </th>
                          <th style="background-color: #163269; color: white">
                            CTC
                          </th>
                          <th style="background-color: #163269; color: white">
                            Others
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr class="forcheckmtechcs forcheck">
                          <td>Mtech Cybersecurity</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="basicmtechcs"
                              placeholder="Basic"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="pfmtechcs"
                              placeholder="PF"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="hramtechcs"
                              placeholder="HRA"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="joiningbonusmtechcs"
                              placeholder="Joining Bonus"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="relocationbonusmtechcs"
                              placeholder="Relocation Bonus"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="stocksmtechcs"
                              placeholder="Stocks(with vesting plan)"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="takehomemtechcs"
                              placeholder="Take Home"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="ctcmtechcs"
                              placeholder="CTC"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              name="othersmtechcs"
                              placeholder="Others"
                              required
                            />
                          </td>
                        </tr>
                        <tr class="forcheckmtechadsai forcheck">
                          <td>Mtech ADSAI</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="basicmtechadsai"
                              placeholder="Basic"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="pfmtechadsai"
                              placeholder="PF"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="hramtechadsai"
                              placeholder="HRA"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="joiningbonusmtechadsai"
                              placeholder="Joining Bonus"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="relocationbonusmtechadsai"
                              placeholder="Relocation Bonus"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="stocksmtechadsai"
                              placeholder="Stocks(with vesting plan)"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="takehomemtechadsai"
                              placeholder="Take Home"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="ctcmtechadsai"
                              placeholder="CTC"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              name="othersmtechadsai"
                              placeholder="Others"
                              required
                            />
                          </td>
                        </tr>
                        <tr class="forcheckmsccs forcheck">
                          <td>MSc Cybersecurity</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="basicmsccs"
                              placeholder="Basic"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="pfmsccs"
                              placeholder="PF"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="hramsccs"
                              placeholder="HRA"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="joiningbonusmsccs"
                              placeholder="Joining Bonus"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="relocationbonusmsccs"
                              placeholder="Relocation Bonus"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="stocksmsccs"
                              placeholder="Stocks(with vesting plan)"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="takehomemsccs"
                              placeholder="Take Home"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="ctcmsccs"
                              placeholder="CTC"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              name="othersmsccs"
                              placeholder="Others"
                              required
                            />
                          </td>
                        </tr>
                        <tr class="forcheckmscdfis forcheck">
                          <td>MSc DFIS</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="basicmscdfis"
                              placeholder="Basic"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="pfmscdfis"
                              placeholder="PF"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="hramscdfis"
                              placeholder="HRA"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="joiningbonusmscdfis"
                              placeholder="Joining Bonus"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="relocationbonusmscdfis"
                              placeholder="Relocation Bonus"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="stocksmscdfis"
                              placeholder="Stocks(with vesting plan)"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="takehomemscdfis"
                              placeholder="Take Home"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="ctcmscdfis"
                              placeholder="CTC"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              name="othersmscdfis"
                              placeholder="Others"
                              required
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- eligibility cretiria -->

            <div class="content-div regis-content-div">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Eligibility Criteria
                </h2>
                <br />
                <div class="comm-fields">
                  <div class="input-fields" style="overflow-x: scroll">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="background-color: #163269; color: white">
                            Course
                          </th>
                          <th style="background-color: #163269; color: white">
                            CGPA(on Scale of 10)
                          </th>
                          <th style="background-color: #163269; color: white">
                            Graduation
                          </th>
                          <th style="background-color: #163269; color: white">
                            12th / Diploma %
                          </th>

                          <th style="background-color: #163269; color: white">
                            10 %
                          </th>
                          <th style="background-color: #163269; color: white">
                            Age Limit( If Any )
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr class="forcheckmtechcs forcheck">
                          <td>Mtech Cybersecurity</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="CGPAmtechcs"
                              placeholder="CGPA"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="Graduationmtechcs"
                              placeholder="Graduation"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="twelthmtechcs"
                              placeholder="Percentage"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="tenthmtechcs"
                              placeholder="Percentage"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="agelimitmtechcs"
                              placeholder="Age limit"
                              required
                            />
                          </td>
                        </tr>
                        <tr class="forcheckmtechadsai forcheck">
                          <td>Mtech ADSAI</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="CGPAmtechadsai"
                              placeholder="CGPA"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="Graduationmtechadsai"
                              placeholder="Graduation"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="mtechadsai12th"
                              placeholder="Percentage"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="mtechadsai10th"
                              placeholder="Percentage"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="agelimitmtechadsai"
                              placeholder="Age Limit"
                              required
                            />
                          </td>
                        </tr>
                        <tr class="forcheckmsccs forcheck">
                          <td>MSc Cybersecurity</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="CGPAmsccs"
                              placeholder="CGPA"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="Graduationmsccs"
                              placeholder="Graduation"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="msccs12th"
                              placeholder="Percentage"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="msccs10th"
                              placeholder="Percentage"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="agelimitmsccs"
                              placeholder="Age Limit"
                              required
                            />
                          </td>
                        </tr>
                        <tr class="forcheckmscdfis forcheck">
                          <td>MSc DFIS</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="CGPAmscdfis"
                              placeholder="CGPA"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="Graduationmscdfis"
                              placeholder="Graduation"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="mscdfis12th"
                              placeholder="Percentage"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="mscdfis10th"
                              placeholder="Percentage"
                              required
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="agelimitmscdfis"
                              placeholder="Age Limit"
                              required
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- internship if appicable -->
            <div class="content-div regis-content-div">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Internship Details (If applicable)
                </h2>
                <br />
                <div class="comm-fields mt-3">
                  <div class="input-fields" style="overflow-x: scroll">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="background-color: #163269; color: white">
                            Program
                          </th>
                          <th style="background-color: #163269; color: white">
                            Duration
                          </th>
                          <th style="background-color: #163269; color: white">
                            Stipend Amount
                          </th>
                          <th style="background-color: #163269; color: white">
                            CTC After Completion
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>M. Tech. Cyber Security</td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="internmtechduration"
                              name="internmtechcsduration"
                              placeholder="Duration"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="mtechcsstipendamount"
                              name="internmtechcsstipend"
                              placeholder="Stipend Amount"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="mtechcsctcaftercompletion"
                              name="internmtechcsctc"
                              placeholder="CTC After Completion"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td>M.Sc. Cyber Security</td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="msccsprogramduration"
                              name="internmsccsduration"
                              placeholder="Duration"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="msccsstipendamount"
                              name="internmsccsstipend"
                              placeholder="Stipend Amount"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="msccsctcaftercompletion"
                              name="internmsccsctc"
                              placeholder="CTC After Completion"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td>
                            M.Sc. Digital Forensics &amp; Information Security
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="mscdfisprogramduration"
                              name="internmscdfisduration"
                              placeholder="Duration"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="mscdfisstipendamount"
                              name="internmscdfisstipend"
                              placeholder="Stipend Amount"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="mscdfisctcaftercompletion"
                              name="internmscdfisctc"
                              placeholder="CTC After Completion"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td>
                            M.Tech Applied Data Science and Artificial
                            Intelligence
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="mtechdsaiprogramduration"
                              name="internmtechadsaiduration"
                              placeholder="Duration"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="mtechdsaistipendamount"
                              name="internmtechadsaistipend"
                              placeholder="Stipend Amount"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="mtechdsaictcaftercompletion"
                              name="internmtechadsaictc"
                              placeholder="CTC After Completion"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!--campus mode details  -->
            <div class="content-div regis-content-div" id="procedure">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Campus Process Mode
                </h2>
                <br />
                <div class="comm-fields">
                  <div class="input-fields">
                    <div class="form-check">
                      <label class="form-check-label" for="CampusProcessMode">
                        Virtual  All processes are conducted online
                      </label>
                      <input
                        class="form-check-input"
                        type="radio"
                        value="virtual"
                        checked
                        name="isvirtual"
                        id="CampusProcessMode"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="comm-fields">
                  <div class="input-fields">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="isvirtual"
                        value="nonVirtual"
                        id="CampusProcessMode2"
                        required
                      />
                      <label class="form-check-label" for="CampusProcessMode2">
                        In-campus  All processes are conducted in campus
                      </label>
                    </div>
                  </div>
                </div>
                <div class="comm-fields">
                  <div class="input-fields">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="hybrid"
                        name="isvirtual"
                        id="CampusProcessMode3"
                        required
                      />
                      <label class="form-check-label" for="CampusProcessMode3">
                        Hybrid  Some processes are conducted online while some
                        in campus
                      </label>
                    </div>
                  </div>
                </div>
                <div class="comm-fields">
                  <div class="input-fields">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="notdecided"
                        name="isvirtual"
                        id="CampusProcessMode4"
                        required
                      />
                      <label class="form-check-label" for="CampusProcessMode4">
                        Undecided
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- bond contract -->
            <div class="content-div regis-content-div">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Bonds/ Contracts and Medical Requirements
                </h2>
                <br />
                <div class="row">
                  <div class="col-6">
                    <label for="servicebond"
                      >1. If there is a service bond/contract, what will be the
                      duration, amount, and stipulated conditions?</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="servicebonddetails"
                      id="servicebond"
                      placeholder="Enter Details"
                    />
                  </div>

                  <div class="col-6">
                    <h6>2. Medical Requirements:</h6>

                    <div class="input-fields">
                      <div class="form-group"></div>

                      <input
                        type="text"
                        class="form-control"
                        name="MedicalRequirements"
                        value="a"
                        id="MedicalRequirements"
                        placeholder="Enter Details"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- selection process -->

            <div class="content-div regis-content-div">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Selection Process
                </h2>
                <br />

                <div class="row">
                  <div class="col-6">
                    <h6>
                      1. Shortlist from Resumes:
                      <label class="form-check-label" for="yesselection">
                        YES
                      </label>
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="shortlistfromresume"
                        value="yes"
                        id="yesselection"
                      />
                    </h6>

                    <label for="selectionbond "
                      >If applicable, specify the criteria below:</label
                    >
                    <textarea
                      type="text"
                      class="form-control"
                      id="selectionbond"
                      name="selectioncriteriadetails"
                      placeholder="..."
                    >
                    </textarea>
                  </div>
                </div>
              </div>
            </div>

            <!-- selection process futher rounds table -->
            <div class="content-div regis-content-div" id="procedure">
              <div class="content-title container">
                <div class="comm-fields mt-3">
                  <!-- <h2 style="padding-top: 1rem; padding-bottom: 2rem">HEAD HR</h2> -->
                  <h6>
                    2. Further Rounds for the shortlisted students ( As
                    Applicable ):
                  </h6>
                  <div class="input-fields" style="overflow-x: scroll">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="background-color: #163269; color: white">
                            Serial No.
                          </th>
                          <th style="background-color: #163269; color: white">
                            Stage Name
                          </th>
                          <th style="background-color: #163269; color: white">
                            Duration( in mins )
                          </th>
                          <th style="background-color: #163269; color: white">
                            No. of Rounds
                          </th>
                          <th style="background-color: #163269; color: white">
                            Mode( Online/Offline )
                          </th>
                          <th style="background-color: #163269; color: white">
                            Other Details( if any )
                          </th>

                          <th
                            style="background-color: #163269; color: white"
                          ></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>
                            <h3 style="text-align: center">1</h3>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="stagename"
                              name="stagename1"
                              placeholder="Stage Name"
                            />
                          </td>

                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="duration"
                              name="stageduration1"
                              placeholder="Duration (in min)"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="roundsno"
                              name="noofrounds1"
                              placeholder=" No. of rounds"
                            />
                          </td>
                          <td>
                            <select
                              type="text"
                              class="form-control"
                              id="mode"
                              name="modeofstage1"
                              placeholder="Mode"
                            >
                              <option value="Offline">Offline</option>
                              <option value="Online">Online</option>
                            </select>
                          </td>
                          <td>
                            <textarea
                              type="text"
                              class="form-control"
                              id="otherdetails"
                              name="otherdetails1"
                              placeholder="Other Details"
                            ></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h3 style="text-align: center">2</h3>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="stagename"
                              name="stagename2"
                              placeholder="Stage Name"
                            />
                          </td>

                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="duration"
                              name="stageduration2"
                              placeholder="Duration (in min)"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="roundsno"
                              name="noofrounds2"
                              placeholder=" No. of rounds"
                            />
                          </td>
                          <td>
                            <select
                              type="text"
                              class="form-control"
                              id="mode"
                              name="modeofstage2"
                              placeholder="Mode"
                            >
                              <option value="Offline">Offline</option>
                              <option value="Online">Online</option>
                            </select>
                          </td>
                          <td>
                            <textarea
                              type="text"
                              class="form-control"
                              id="otherdetails"
                              name="otherdetails2"
                              placeholder="Other Details"
                            ></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h3 style="text-align: center">3</h3>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="stagename"
                              name="stagename3"
                              placeholder="Stage Name"
                            />
                          </td>

                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="duration"
                              name="stageduration3"
                              placeholder="Duration (in min)"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="roundsno"
                              name="noofrounds3"
                              placeholder=" No. of rounds"
                            />
                          </td>
                          <td>
                            <select
                              type="text"
                              class="form-control"
                              id="mode"
                              name="modeofstage3"
                              placeholder="Mode"
                            >
                              <option value="Offline">Offline</option>
                              <option value="Online">Online</option>
                            </select>
                          </td>
                          <td>
                            <textarea
                              type="text"
                              class="form-control"
                              id="otherdetails"
                              name="otherdetails3"
                              placeholder="Other Details"
                            ></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h3 style="text-align: center">4</h3>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="stagename"
                              name="stagename4"
                              placeholder="Stage Name"
                            />
                          </td>

                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="duration"
                              name="stageduration4"
                              placeholder="Duration (in min)"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="roundsno"
                              name="noofrounds4"
                              placeholder=" No. of rounds"
                            />
                          </td>
                          <td>
                            <select
                              type="text"
                              class="form-control"
                              id="mode"
                              name="modeofstage4"
                              placeholder="Mode"
                            >
                              <option value="Offline">Offline</option>
                              <option value="Online">Online</option>
                            </select>
                          </td>
                          <td>
                            <textarea
                              type="text"
                              class="form-control"
                              id="otherdetails"
                              name="otherdetails4"
                              placeholder="Other Details"
                            ></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h3 style="text-align: center">5</h3>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              id="stagename"
                              name="stagename5"
                              placeholder="Stage Name"
                            />
                          </td>

                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="duration"
                              name="stageduration5"
                              placeholder="Duration (in min)"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              id="roundsno"
                              name="noofrounds5"
                              placeholder=" No. of rounds"
                            />
                          </td>
                          <td>
                            <select
                              type="text"
                              class="form-control"
                              id="mode"
                              name="modeofstage5"
                              placeholder="Mode"
                            >
                              <option value="Offline">Offline</option>
                              <option value="Online">Online</option>
                            </select>
                          </td>
                          <td>
                            <textarea
                              type="text"
                              class="form-control"
                              id="otherdetails"
                              name="otherdetails5"
                              placeholder="Other Details"
                            ></textarea>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <h6>
                      For queries Please Click:
                      <a href="/placement-team-contact" target="_blank"
                        >Contact Here</a
                      >
                    </h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="content-div regis-content-div" id="procedure">
              <div class="content-title container">
                <hr />
                <h2 style="border-left: solid 4px; padding-left: 5px">
                  Declaration
                </h2>
                <br />
                1. As a representative of above company, I hereby declare that
                all information provided in the registration form for
                participation in the campus placement session 2024-25 is true
                and accurate to the best of my knowledge. <br />
                2. I understand that any false information provided may result
                in the disqualification of our company from participating in the
                placement session. I also acknowledge and agree to abide by all
                rules, policies, and guidelines set forth by the Placement Cell
                and the educational institution hosting the placement session.
                <br />
                3. Furthermore, I understand that the Placement Cell reserves
                the right to conduct background checks on our company, including
                but not limited to verifying our credentials and reputation in
                the industry. I authorize the Placement Cell to share relevant
                information about our company with students for the purpose of
                recruitment during the placement session 2024-25. <br />
                4. I understand that any violation of the rules and policies may
                lead to the termination of our company's participation in the
                placement session, and I agree to accept any disciplinary
                actions deemed appropriate by the Placement Cell. <br />
                5. I further declare that any student data or information
                obtained during the recruitment process will be used solely for
                the purpose of recruitment and will not be shared with any third
                parties or used for any other purposes without explicit consent
                from the student or the educational institution. I understand
                that any unauthorized sharing or misuse of student data may
                result in legal action and disqualification from future
                participation in campus placement sessions.
                <br /><br />
                <div class="form-check">
                  <label class="form-check-label" for="flexCheckDefault11">
                    I Agree
                  </label>
                  <input
                    class="form-check-input"
                    required
                    type="checkbox"
                    checked
                    id="flexCheckDefault11"
                  />
                </div>
                <br />
                <div class="submit-btn">
                  <button
                    class="btn btn-lg btn-success"
                    id="form-btn-regisrec"
                    style="margin-bottom: 5rem"
                  >
                    SUBMIT
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script>
      // JavaScript for form validation
      (function () {
        "use strict";
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>

    <script>
      // Function to disable all input fields
      let disableAllCourseInputs = () => {
        let allInputs = document.querySelectorAll(".forcheck input");
        allInputs.forEach((input) => {
          input.required = false;
          input.style.display = "none";
        });
      };

      // Call disableAllCourseInputs when the DOM is loaded
      document.addEventListener("DOMContentLoaded", disableAllCourseInputs);

      // Function to set required attribute based on checkbox state
      let setRequired = (classname) => {
        let rowInputs = document.querySelectorAll(".for" + classname);
        rowInputs.forEach((inputRow) => {
          let inputs = inputRow.querySelectorAll("input");
          inputs.forEach((input) => {
            if (input.required == false) {
              input.required = true;
              input.style.display = "inline";
            } else {
              input.required = false;
              input.style.display = "none";
            }
          });
        });
      };

      // Get all checkboxes with class "courseInputCheck"
      let checks = document.querySelectorAll(".courseInputCheck");

      // Add event listeners to checkboxes
      checks.forEach((check) => {
        check.addEventListener("change", (event) => {
          if (event.target) {
            if (check.name == "checkmtechcs") {
              setRequired("checkmtechcs");
            } else if (check.name == "checkmsccs") {
              setRequired("checkmsccs");
            } else if (check.name == "checkmscdfis") {
              setRequired("checkmscdfis");
            } else if (check.name == "checkmtechadsai") {
              setRequired("checkmtechadsai");
            }
          }
        });
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
