<div class="container-big-footer">
  <div class="container-fluid footer-div">
    <div class="footer-card">
      <div class="card-title pop-out">
        NFSU Links
        <hr />
      </div>
      <br />
      <a
        target="_blanck"
        class="card-links pop-out"
        href="https://www.nfsu.ac.in/"
      >
        NFSU Homepage</a
      >
      <br />
      <a target="_blanck" class="card-links pop-out" href="/"> DoAA</a> <br />
      <a target="_blanck" class="card-links pop-out" href="/"> DoSA</a> <br />

      <a target="_blanck" class="card-links pop-out" href="/">
        Student's Community</a
      >
      <br />
    </div>

    <div class="footer-card">
      <div class="card-title pop-out">
        For Students
        <hr />
      </div>
      <br />
      <a target="_blanck" class="card-links pop-out" href="/"
        >Steps - Students Login
      </a>
      <br />

      <a target="_blanck" class="card-links pop-out" href="/student"
        >Prep Resources
      </a>
      <br />
      <a target="_blanck" class="card-links pop-out" href="/">Policy </a> <br />

      <a target="_blanck" class="card-links pop-out" href="/">Event Reports </a>
      <br />

      <a target="_blanck" class="card-links pop-out" href="/"
        >Alumni's Corner
      </a>
      <br />

      <a target="_blanck" class="card-links pop-out" href="/">Insights </a
      ><br />
      <a target="_blanck" class="card-links pop-out" href="/student#faq"
        >FAQs
      </a>
      <br />
    </div>

    <div class="footer-card">
      <div class="card-title pop-out">
        For Companies
        <hr />
      </div>
      <br />

      <a class="card-links pop-out" target="_blanck" href="/"
        >Steps - Company Registration/Login</a
      >

      <br />
      <a target="_blanck" class="card-links pop-out" href="/resrec">
        Recruitment Procedure
      </a>

      <br />
      <a target="_blanck" class="card-links pop-out" href="/"> Brochures</a>
      <br />

      <a target="_blanck" class="card-links pop-out" href="/">
        Departmental Brochures</a
      >
      <br />

      <a target="_blanck" class="card-links pop-out" href="/resrec#faq"
        >FAQs
      </a>
      <br />
    </div>

    <div class="footer-card">
      <div class="card-title pop-out">
        Contact Us
        <hr />
      </div>

      <br />

      <a target="_blanck" class="card-links pop-out" href="/placement-team">
        Our Placement Team</a
      >
      <br />
      <a
        target="_blanck"
        class="card-links pop-out"
        href="/placement-team-contact"
      >
        Contact Placement Team</a
      >
      <br />

      <a
        target="_blanck"
        class="card-links pop-out"
        href="https://www.google.com/maps/place/National+Forensic+Sciences+University/@23.2099108,72.657319,16z/data=!4m6!3m5!1s0x395c2baae9f6f05d:0x4f9616711f2fb4e5!8m2!3d23.2099106!4d72.6618396!16s%2Fm%2F0120xklj?entry=ttu"
        >Reach Us At
      </a>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12334.051958063006!2d72.65733148966417!3d23.2090179613326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2baae9f6f05d%3A0x4f9616711f2fb4e5!2sNational%20Forensic%20Sciences%20University!5e0!3m2!1sen!2sin!4v1710497409261!5m2!1sen!2sin"
        width="250"
        id="map"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>

      <br />
    </div>
  </div>
  <div class="bottom-stuff">
    <div class="socials pop-out">
      <a
        target="_blanck"
        class="card-links pop-out"
        href="https://www.linkedin.com/school/nfsu/?originalSubdomain=in"
        ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
      </a>

      <a
        target="_blanck"
        class="card-links pop-out"
        href="https://www.facebook.com/nfsuofficial/"
        ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
      </a>

      <a
        target="_blanck"
        class="card-links pop-out"
        style="color: rgb(239, 61, 91)"
        href="https://www.instagram.com/nfsu.official/?hl=en"
        ><i class="fa-brands fa-instagram"></i>
      </a>
    </div>
    <div class="copyright pop-out">
      &copy; Copyright 2024 Placement Cell , NFSU
    </div>
  </div>
</div>
