<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid nav-div">
    <a class="navbar-brand" href="/"
      ><img
        src="https://upload.wikimedia.org/wikipedia/en/9/96/National_Forensic_Sciences_University_Logo.png"
        alt="Logo"
        id="logo"
        width="65"
        height="80"
        class="d-inline-block align-text-top nav-img"
      />
      <p>National Forensic Sciences University</p></a
    >
    <div class="nav-right">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
        aria-label="Toggle navigation"
      >
        <i class="fa-solid fa-bars navbar-toggler-icon"></i>
      </button>
      <div
        class="offcanvas offcanvas-end text-bg-dark"
        tabindex="-1"
        id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
            Choose From Below :
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <a href="/" id="home-link">Home</a>
          <br /><br />
          <div class="nav-item dropdown">
            <button
              class="btn btn-light me-3 dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              For Students
            </button>
            <ul class="dropdown-menu dropdown-menu-light">
              <li>
                <a class="dropdown-item" href="/login-student"
                  >Students Login</a
                >
              </li>
              <hr />
              <li>
                <a class="dropdown-item" href="/student"
                  >Prep Resources</a
                >
              </li>
              <hr />
              <li><a class="dropdown-item" href="#">Policy</a></li>
              <hr />
              <li><a class="dropdown-item" href="#">Preparation Portal</a></li>
              <hr />
              <li><a class="dropdown-item" href="#">Insights</a></li>
              <hr />
              <li><a class="dropdown-item" href="#">FAQs</a></li>
            </ul>
          </div>
          <br />

          <div class="nav-item dropdown">
            <button
              class="btn btn-light me-5 dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              For Recruiters
            </button>
            <ul class="dropdown-menu dropdown-menu-light">
              <li>
                <a class="dropdown-item" href="/login-recruiter"
                  >Company <br />Registration <br />/Login</a
                >
              </li>
              <hr />
              <li>
                <a class="dropdown-item" href="/resrec">Resources</a>
              </li>
              <hr />
              <li>
                <a class="dropdown-item" href="#"
                  >Recruitment <br />
                  Process and <br />
                  Policy</a
                >
              </li>
              <hr />
              <li><a class="dropdown-item" href="#">Brochures</a></li>
              <hr />
              <li>
                <a class="dropdown-item" href="#">Departmental Brochures</a>
              </li>
              <hr />
              <li><a class="dropdown-item" href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
