<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid nav-div">
    <a class="navbar-brand" href="/"
      ><img
        src="https://upload.wikimedia.org/wikipedia/en/9/96/National_Forensic_Sciences_University_Logo.png"
        alt="Logo"
        id="logo"
        loading="lazy"
        width="65"
        height="80"
        class="d-inline-block align-text-top nav-img"
      />
      <p style="color: black; font-weight: 400">
        School of Cyber Security & Digital Forensics <br />
        <span style="font-size: 1.2rem; font-weight: 500; letter-spacing: 0px"
          >Placement Cell</span
        >
      </p>
    </a>
    <div class="nav-right">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
      >
        <i class="fa-solid fa-bars navbar-toggler-icon"></i>
      </button>
      <div
        class="offcanvas offcanvas-end text-bg-dark"
        tabindex="-1"
        id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
            Choose From Below :
          </h5>
          <button
            type="button"
            id="offset-close-btn"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <%if(isAdmin == true){%>
          <div class="dropdown profile-icon-div">
            <div
              data-bs-toggle="dropdown"
              style="
                background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712834949/admin_rsgkmd.png);
                background-size: cover;
                width: 3rem;
                height: 3rem;
                margin-right: 2rem;
              "
            >
              <!-- <img src="" width="40" alt="" /> -->
            </div>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/admin" style="color: black"
                  >Admin Dashboard</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/logout" style="color: brown"
                  >Sign Out</a
                >
              </li>
            </ul>
          </div>

          <%}else if(isAuthenticated == true){%>
          <div class="dropdown profile-icon-div">
            <div
              data-bs-toggle="dropdown"
              style="
                background-image: url(https://cdn-icons-png.flaticon.com/512/2919/2919906.png);
                background-size: cover;
                width: 3rem;
                height: 3rem;
                margin-right: 2rem;
              "
            >
              <!-- <img src="" width="40" alt="" /> -->
            </div>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/account" style="color: brown"
                  >Your Account</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/logout" style="color: brown"
                  >Sign Out</a
                >
              </li>
            </ul>
          </div>
          <%}%>
          <a href="/" id="home-link" style="font-weight: 500">Home</a>
          <br /><br />
          <div class="nav-item dropdown">
            <button
              class="btn btn-light me-3 dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="background-color: turquoise; color: black; border: none"
            >
              For Students
            </button>
            <ul class="dropdown-menu dropdown-menu-light">
              <li>
                <a class="dropdown-item" href="/login-student"
                  >Students Registration/Login</a
                >
              </li>
              <hr />
              <li>
                <a class="dropdown-item" href="/resources/student">Placement Guide</a>
              </li>
              <hr />
              <li>
                <a class="dropdown-item" href="/resources/student#procedure">Policy</a>
              </li>
              <hr />
              <li>
                <a class="dropdown-item" href="/resources/student#roadmaps"
                  >Preparation Portal</a
                >
              </li>
              <hr />
              <li><a class="dropdown-item" href="#">Insights</a></li>
              <hr />
              <li><a class="dropdown-item" href="/resources/student#faq">FAQs</a></li>
            </ul>
          </div>
          <br />

          <div class="nav-item dropdown">
            <button
              class="btn btn-light me-5 dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="background-color: turquoise; color: black; border: none"
            >
              For Recruiters
            </button>
            <ul class="dropdown-menu dropdown-menu-light">
              <li>
                <a
                  class="dropdown-item"
                  href="/otp-initialize/?username=Recruiter"
                  >Recruiter <br />Registration
                </a>
              </li>
              <hr />
              <li>
                <a class="dropdown-item" href="/resources/recruiter">Placement Guide</a>
              </li>
              <hr />
              <li>
                <a class="dropdown-item" href="/resources/recruiter#procedure"
                  >Recruitment <br />
                  Process and <br />
                  Policy</a
                >
              </li>
              <hr />

              <li>
                <a
                  class="dropdown-item"
                  target="_blanck"
                  href="https://drive.google.com/file/d/1YvE0lrTKEuKmyUXaOqCv6M1b6NhdvwKU/view?usp=drive_link"
                  >Placement Brochures</a
                >
              </li>
              <hr />
              <li>
                <a
                  class="dropdown-item"
                  target="_blanck"
                  href="https://drive.google.com/file/d/1e_QMXMciDL3Aww2l9zxzcqHvz9DMKlAL/view?usp=drive_link"
                  >Departmental Brochures</a
                >
              </li>
              <hr />
              <li><a class="dropdown-item" href="/resources/recruiter#faq">FAQs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  let offsetCloseBtn = document.getElementById("offset-close-btn");
  let dropdownItems = document.querySelectorAll(".dropdown-item");
  dropdownItems.forEach((item) => {
    item.addEventListener("click", () => {
      offsetCloseBtn.click();
    });
  });
</script>
