<%layout("/layouts/boilerplate.ejs")%>
<div class="resources-student-big-div">
  <div class="banner">
    <h1>For Students</h1>
    <br />
    <h4>Preparation Resources</h4>
    <br /><br />
    <div class="btns-container container">
      <a href="/student#procedure">
        <button class="btn btn-outline-light">Procedure</button>
      </a>
      <a href="/student#resources">
        <button class="btn btn-outline-light">Resources</button>
      </a>
      <a href="/student#roadmaps">
        <button class="btn btn-outline-light">Preparation Roadmaps</button>
      </a>
      <a href="/student#faq">
        <button class="btn btn-outline-light">FAQs</button>
      </a>
      <a href="/student">
        <button class="btn btn-outline-light">Insights</button>
      </a>
    </div>
  </div>
  <div class="content-div" id="procedure">
    <div class="content-title container">
      <h2>Procedure</h2>
      <div class="content-cards container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">
              You must prepare a master resume and submit it by the specified
              deadline.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">2</h5>
            <p class="card-text">
              Before the deadline, the Students' Placement Office must receive
              the proofs justifying each point in your resume as well as PVFs
              (Project Verification Forms) from the project or internship
              mentor.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">3</h5>
            <p class="card-text">
              You must register on the Recruitment Automation System (RAS)
              within the specified timeframe as notified by SPO.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">4</h5>
            <p class="card-text">
              After you've registered, you are supposed to upload all one/two
              page resumes on the portal.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">5</h5>
            <p class="card-text">
              The Students' Placement Office appoints a point of contact (PoC)
              for your resume verification.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">6</h5>
            <p class="card-text">
              You would be assigned a time window during which the allotted POC
              would verify your resume.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">7</h5>
            <p class="card-text">
              Once your resume has been verified, you may begin applying to
              companies on the RAS in which you are eligible.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">8</h5>
            <p class="card-text">
              Following your application, you must attend all of the company's
              hiring events (PPTs / Tests / GDs).
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">9</h5>
            <p class="card-text">
              If you get an offer from a company, the SPO would notify you and
              your account would be frozen.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-div" id="resources">
    <div class="content-title container">
      <h2>Resources</h2>
      <div class="content-cards container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Deffered Placement Policy</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Placement Policy</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Internship Policy</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Leave Application</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project Verification Form</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PPT Absence Form</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Corporate Internship Waiver Form</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">List of Companies</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Previous Year Internship Proforma</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Previous Year Placement Proforma</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-div" id="roadmaps">
    <div class="content-title container">
      <h2>Preparation Roadmaps</h2>
      <div class="content-cards container">
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711477328/Roadmaps_haugbq.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">Web-Pentester</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711477328/Roadmaps_haugbq.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">SOC</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711477328/Roadmaps_haugbq.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">DEVSECOPS</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711477328/Roadmaps_haugbq.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">Mobile Application Security</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712811422/CTFsAndCoding_f8qmrs.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">CTFs and Coding</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712811422/Network_Security_y9voqk.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">Network Security</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711477328/Roadmaps_haugbq.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">SDE</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711477328/Roadmaps_haugbq.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">Consulting</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711477328/Roadmaps_haugbq.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">MSC Core</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711477328/Roadmaps_haugbq.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">AI and ML</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <a
              href="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711477328/Roadmaps_haugbq.pdf"
              style="text-decoration: none; color: black"
            >
              <h5 class="card-title">Digital Forensics</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-div content-div-faq" id="faq">
    <div class="content-title container">
      <h2>General FAQs</h2>
      <div class="content-cards content-cards-faq container">
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              What are the restrictions on resume format?
            </h5>
            <div class="card-text">
              There are no restrictions on the resume format barring a few
              mentioned below. The top heading of your resume should be your
              Name, Department, year of study, and contact information. A table
              of educational qualifications should follow it including 10th,
              12th marks, and CPI(UG and PG both if applicable) in reverse
              chronological order.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              What should be the name of the resume file (one page)?
            </h5>
            <div class="card-text container-fluid">
              The resume file should be named as
              RollNumber_Name__Program_Department_ResumeNumber. For example, a
              student with the following details: Roll number: 190351, Name:
              Gyanendra Kumar, Program - BTech(BT), Department : Mechanical(ME)
              should name the resume files as 190351_Gyanendra_BT_ME_1,
              190351_Gyanendra_BT_ME_2, 190351_Gyanendra_BT_ME_3.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              How to mention JEE Mains/JEE Adv/any other examination ranks or
              other scholastic achievements in my resume?
            </h5>
            <div class="card-text">
              JEE Mains/JEE Adv. ranks have to be mentioned in the numbers, not
              percentile. For eg, AIR 1234 in JEE Mains 2019. If someone wants
              to mention their rank in their department, a mail from the HoD of
              the department is required. Definitely mention the year of
              Activity or Achievement.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              I don't have any proof for some points on my resume, but I can
              provide them after campus reopens. What should I do?
            </h5>
            <div class="card-text">
              [Please note that the below exceptions are only allowed for
              Scholastic and Extracurricular Achievements.] For verification of
              10th marks, 12th marks, and JEE ranks, a google form will be
              circulated through mail.All the students will need to fill out
              that for For the verification of any other scholastic
              achievements(if you do not have a scanned copy of the documents
              with you), you need to fill the following undertaking and include
              it in the zip file of proofs, to be sent to
              spoproofs2022@gmail.com. Undertaking Form[bit.ly/spoundertaking]
              These details will be cross- verified in the future and any
              discrepancy will be dealt with according to SPO policy.The points
              on your resume for which you will provide the undertaking should
              be # marked with a footnote 'not verified by SPO'. Such points
              should be given a # mark and a footnote only on the Master Resume,
              which is not visible to the company officials, and not on the one
              - page resumes, to be uploaded on the portal.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              When is a Project Verification Form (PVF) required?
            </h5>
            <div class="card-text">
              A PVF is needed to be signed by your mentor for any intern/project
              done under an IITK professor or any external organization (no PVF
              is needed for projects under institute clubs or course projects).
              Kindly ask your mentor/ Guide to send the filled PVF from his /
              her official email address to spoproofs2022@gmail.com.Only PVFs
              received on the given ID will be considered.Also, ask your mentor
              to mark you in cc.The PVF can be downloaded from
              here(spo.iitk.ac.in/docs/2021-22/PVF.doc). The subject and content
              of the project written on your resume should match that written on
              the PVF.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              How will my PoR/projects under the institute clubs be verified?
            </h5>
            <div class="card-text">
              PoR and projects under Clubs/ Teams of IITK (summer projects as
              well) will be ratified through the lists sent by PSG, Senate
              Chairperson, MnC Gensec, or SnT Gensec.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              I have some Self projects, how will they be verified?
            </h5>
            <div class="card-text">
              For verification of such projects, one has to submit codes/git
              repo links/ (or any other proof ) as deemed necessary.You will
              have to clearly mention that the project is a self-project.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              How to verify online courses/online projects?
            </h5>
            <div class="card-text">
              For verification of online courses/online projects, you will need
              to submit the pdf certificate issued by the concerned
              organization. While mentioning the same on your resume, you will
              have to specify that the course/project was an online
              course/project.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              Is proof required for Extracurricular points?
            </h5>
            <div class="card-text">
              The proof is not required for points under this heading unless
              they specify a certain position ex. Got 2nd place in School debate
              competitions.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              My internship/project is ongoing and will not be finished before
              resume submission. What should I do?
            </h5>
            <div class="card-text">
              Fill up the PVF with whatever work has been completed and ask your
              mentor to sign and send it to spoproofs2022@gmail.com.You will
              have to mention in the resume that the internship/project is
              ongoing.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              Can I update my resume after the deadline?
            </h5>
            <div class="card-text">
              No, after the resume has been verified it will not be changed. The
              resume can only be updated in Phase-2 of the internship/placement
              season.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">Will the Summer CPI be included?</h5>
            <div class="card-text">
              Whatever CPI is there on Pingala during resume verification will
              be taken as final.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let faqs = document.querySelectorAll(".cardfaq");
  faqs.forEach((faq) => {
    faq.addEventListener("click", (event) => {
      let cardText = faq.querySelector(".card-text");
      if (cardText.style.display == "inline") cardText.style.display = "none";
      else cardText.style.display = "inline";
    });
  });
</script>
