 <%-include("../includes/flash.ejs")%><html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Project</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Poppins;
      }

      @font-face {
        font-family: Poppins; /* Do not change this name, change only the src*/
        src: url(./Colus-Regular.ttf);
      }

      .main {
        width: 100%;
        height: auto;
        display: grid;
        place-items: center;
        background-color: rgb(245, 245, 245);
        padding: 50px 0;
      }
      .main .head {
        font-size: 29px;
        color: rgba(91, 14, 216, 0.767);
        position: relative;
        margin-bottom: 100px;
        font-weight: 500;
      }
      .main .head::after {
        content: " ";
        position: absolute;
        width: 50%;
        height: 3px;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        background-image: linear-gradient(
          to right,
          rgba(91, 14, 216, 0.767),
          rgba(238, 12, 200, 0.747)
        );
      }

      /* Container Css Start  */

      .container {
        width: 70%;
        height: auto;
        margin: auto 0;
        position: relative;
      }

      .container ul {
        list-style: none;
      }

      .container ul::after {
        content: " ";
        position: absolute;
        width: 2px;
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background-image: linear-gradient(
          to bottom,
          rgba(91, 14, 216, 0.767),
          rgba(238, 12, 200, 0.747)
        );
      }

      .container ul li {
        width: 50%;
        height: auto;
        padding: 15px 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
        position: relative;
        margin-bottom: 70px;

        z-index: 99;
      }

      .container li:hover {
        background: rgb(red, green, blue);
        background: linear-gradient(
          360deg,
          rgb(255, 255, 255) 0%,
          rgba(248, 244, 177, 0.656) 60%
        );
      }

      .container ul li:hover {
        box-shadow: 0px 3px 12px 0px #ccc;
      }

      .container ul li:nth-child(4) {
        margin-bottom: 0;
      }

      .container ul li .circle {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(148, 54, 255);
        top: 0;
        display: grid;
        place-items: center;
        background: rgba(255, 255, 255, 0.35);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
        border: 0.5px solid rgba(0, 38, 255, 1);
      }

      .circle::after {
        content: " ";
        width: 12px;
        height: 12px;
        background-color: #7f00ff;
        border-radius: 50%;
      }

      ul li:nth-child(odd) .circle {
        transform: translate(50%, -50%);
        right: -30px;
      }

      ul li:nth-child(even) .circle {
        transform: translate(-50%, -50%);
        left: -30px;
      }

      ul li .date {
        position: absolute;
        width: 130px;
        height: 33px;
        /* background-image: linear-gradient(to right,#7f00ff,#e100ff); */
        background-color: orangered;
        border-radius: 15px;
        top: -45px;
        display: grid;
        place-items: center;
        color: #fff;
        font-size: 13px;
        box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
      }

      .container ul li:nth-child(odd) {
        float: left;
        clear: right;
        text-align: right;
        transform: translateX(-30px);
      }

      ul li:nth-child(odd) .date {
        right: 20px;
      }

      .container ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
      }

      ul li .heading {
        margin-bottom: 10px;
        font-size: 20px;
        color: rgb(91, 14, 216);
      }

      ul li p {
        font-size: 13px;
        color: #666;
        line-height: 18px;
        margin: 6px 0 4px 0;
      }

      ul li a {
        font-size: 13px;
        text-decoration: none;
        color: rgb(18, 54, 214);
        transition: all 0.3s ease;
      }

      ul li h4 {
        color: rgb(22, 21, 22);
        font-size: small;
      }

      p {
        font-size: xx-small;
      }

      @media only screen and (min-width: 798px) and (max-width: 1100px) {
        .container {
          width: 80%;
        }
      }

      @media only screen and (max-width: 798px) {
        .container {
          width: 70%;
          transform: translateX(20px);
        }
        .container ul::after {
          left: -40px;
        }
        .container ul li {
          width: 100%;
          float: none;
          clear: none;
          margin-bottom: 80px;
        }
        .container ul li .circle {
          left: -40px;

          transform: translate(-50%, -50%);
        }
        .container ul li .date {
          left: 20px;
        }
        .container ul li:nth-child(odd) {
          transform: translateX(0px);
          text-align: left;
        }
        .container ul li:nth-child(even) {
          transform: translateX(0px);
        }
      }

      @media only screen and (max-width: 550px) {
        .container {
          width: 80%;
        }
        .container ul::after {
          left: -20px;
        }
        .container ul li .circle {
          left: -20px;
        }
      }

      .circular--circle {
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h3 class="head">Students Community</h3>
      <div class="container">
        <ul>
          <li>
            <h3 class="heading">Piyush Sahu</h3>
            <h4>Vapt Analyst</h4>
            <p>
              The interview was so and so.... we did so and so ... you should do
              so and so...sample text
            </p>
            <a href="#">Read More &gt;</a>
            <span class="date">2023-2024</span>

            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712812185/me_knevq0.png"
              alt=""
              class="circle"
              style="width: 14%; height: 37%; padding: 3px"
            />
          </li>
          <li>
            <h3 class="heading">Piyush Sahu</h3>
            <h4>Vapt Analyst</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit
              excepturi accusamus minus totam
            </p>
            <a href="#">Read More &gt;</a>
            <span class="date">2023-2024</span>

            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712812185/me_knevq0.png"
              alt=""
              class="circle"
              style="width: 14%; height: 37%; padding: 3px"
            />
          </li>
          <li>
            <h3 class="heading">Piyush Sahu</h3>
            <h4>Vapt Analyst</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit
              excepturi accusamus minus totam
            </p>
            <a href="#">Read More &gt;</a>
            <span class="date">2023-2024</span>

            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712812185/me_knevq0.png"
              alt=""
              class="circle"
              style="width: 14%; height: 37%; padding: 3px"
            />
          </li>
          <li>
            <h3 class="heading">Piyush Sahu</h3>
            <h4>Vapt Analyst</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit
              excepturi accusamus minus totam
            </p>
            <a href="#">Read More &gt;</a>
            <span class="date">2023-2024</span>

            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712812185/me_knevq0.png"
              alt=""
              class="circle"
              style="width: 14%; height: 37%; padding: 3px"
            />
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
