<%layout("/layouts/boilerplate.ejs")%>

<div class="contactus">
  <h1>Contact Us</h1>
  <br /><br />
  <div class="contact-cont">
    <div class="team-cards">
      <div class="person pop-out">
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt=""/ >
        <br />
        <h2>Dr. Ahlad Kumar</h2>

        <h4>Faculty Coordinator</h4>
        <p>
          Office Of The Placement and Internship Cell, <br />School of Cyber
          Security & Digital Forensics
        </p>
        <p>+91 9953878218</p>
          <p>placement_scsdf@nfsu.ac.in</p>

      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12334.051958063006!2d72.65733148966417!3d23.2090179613326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2baae9f6f05d%3A0x4f9616711f2fb4e5!2sNational%20Forensic%20Sciences%20University!5e0!3m2!1sen!2sin!4v1710497409261!5m2!1sen!2sin"
      width="600"
      id="map"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
