<%layout("/layouts/boilerplate.ejs")%>
<div class="home-big-div">
  <div class="back-photo">
    <div class="home-first">
      <div class="row g-0 title-name">
        <div class="col-12 pop-out">
          <span id="greet"> Greetings from,</span>
        </div>

        <div class="col-12">
          <p class="pop-out">
            The School of <br />
            Cyber Security and <br />
            Digital Forensics
            <br />
          </p>
        </div>
      </div>

      <div class="pop-out">
        <!-- <img
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512903/NFSU_01_Front_View_ess8c4_1_fwfszo.jpg"
          loading="lazy"
          alt="National Forensic Sciences University"
          style="z-index: -5;position: absolute;"

        /> -->

        <img
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712513750/1665605758939_vds4tj.jpg"
          loading="lazy"
          alt="National Forensic Sciences University"
          style="z-index: 5"
        />
      </div>
    </div>
  </div>

<!-- <hr> -->

  <div class="home-second">
    <div>
      <h1 class="pop-out connect-h1">Connect us Through</h1>
      <br />
      <div class="btns-connect">
        <button id="con-btn" class="btn btn-lg pop-out">
          &nbsp;&nbsp;&nbsp;&nbsp;&phone; &nbsp;&nbsp;&nbsp;
          <p style="margin-bottom: 0">
            9953878218
            <br />
            Dr. Ahlad Kumar <br />
            (Placement Cell Coordinator)
          </p>
        </button>
        <button id="con-btn" class="btn btn-lg pop-out">
          Email&nbsp;&nbsp;&nbsp;
          <br />
          <p id="emailp">placement_scsdf@nfsu.ac.in</p>
        </button>
        <br />
        <button id="con-btn" class="btn btn-lg pop-out">
          Address <br />
          <br />
          <p>
            National Forensic Sciences University, <br />
            Police Bhavan Rd, Sector 9, Gandhinagar, Gujarat 382007
          </p>
        </button>
      </div>
    </div>
  </div>

  <div class="home-fourth">


    <h1 class="pop-out" id="whytitle">
      Why Recruit from <span id="whytitle-nfsu">"NFSU"</span> ?
    </h1>
    <br /><br />
    <div class="why-cards">
      <div class="card pop-out">
        <img
          loading="lazy"
          src="https://img.freepik.com/free-vector/focused-tiny-people-reading-books_74855-5836.jpg"
          class="card-img-top"
          alt="Academics..."
          height="250"
          style="object-fit: cover"
        />
        <div class="card-body">
          <br />
          <h4 class="card-title pop-out">Academics</h4>
          <p class="card-text pop-out">
            Providing a rigorous and World-Class academic experience with the
            help of distinguished Faculty, amazing Peer groups and carefully
            designed Coursework.
          </p>
          <br />
        </div>
        <a
          target="_blank"
          href="https://www.nfsu.ac.in/academic"
          style="display: none"
        ></a>
      </div>

      <div class="card pop-out">
        <img
          loading="lazy"
          src="https://img.freepik.com/free-photo/3d-render-graduation-cap-with-diploma-certificate_107791-16842.jpg"
          class="card-img-top"
          height="250"
          style="object-fit: cover"
          alt="Ranking.."
        />
        <div class="card-body">
          <br />
          <h4 class="card-title pop-out">Ranking</h4>
          <p class="card-text pop-out">
            With the Status of an Institution of National Importance,ours is the
            world's FIRST and ONLY UNIVERSITY dedicated to Forensic,
            Behavioural, Cybersecurity, Digital Forensics, and Allied Sciences.
          </p>
          <br />
        </div>
        <a
          target="_blank"
          href="https://www.nfsu.ac.in/academic"
          style="display: none"
        ></a>
      </div>
      <div class="card pop-out">
        <img
          loading="lazy"
          src="https://cdn.narendramodi.in/cmsuploads/0.77119200_1535036024_conv1.jpg"
          class="card-img-top"
          height="250"
          style="object-fit: cover"
          alt="Alumni.."
        />
        <div class="card-body">
          <br />
          <h4 class="card-title pop-out">Alumni</h4>
          <p class="card-text pop-out">
            The Alumni of NFSU Gandhinagar have undoubtedly made their mark on
            the Global professional fronts. Most of them occupy Leading
            positions in Corporate, Academia & the Government.
          </p>
          <br />
        </div>
        <a
          target="_blank"
          href="https://www.nfsu.ac.in/academic"
          style="display: none"
        ></a>
      </div>
      <div class="card pop-out">
        <img
          loading="lazy"
          src="https://img.freepik.com/free-photo/3d-illustration-pen-putting-blue-ticks-paper_107791-15675.jpg"
          height="250"
          style="object-fit: cover"
          class="card-img-top"
          alt="Selection Process.."
        />
        <div class="card-body">
          <br />
          <h4 class="card-title">Selection Process</h4>
          <p class="card-text">
            NFSU Gandhinagar is home to the Brightest individuals in India who
            have been Accepted through a rigorous screening procedure like Jee
            Mains, GATE etc.
          </p>
          <br />
        </div>
        <a
          target="_blank"
          href="https://www.nfsu.ac.in/academic"
          style="display: none"
        ></a>
      </div>
      <div class="card pop-out">
        <img
          loading="lazy"
          src="https://media.licdn.com/dms/image/D4D22AQHvwrxiScJ8lw/feedshare-shrink_1280/0/1698143264358?e=1715817600&v=beta&t=ffKiSyp0Yd53XUWhroSVhMxk4LFNHX7LhDhhJtKeDh0"
          src="https://static.pib.gov.in/WriteReadData/userfiles/image/image0025AAX.jpg"
          class="card-img-top"
          height="250"
          style="object-fit: cover"
          alt="Research and Development..."
        />
        <div class="card-body">
          <br />
          <h4 class="card-title" id="rdtitle">Research and Development</h4>
          <p class="card-text">
            Access to the latest and pioneering advances in technology with the
            aim of acclimating students to the Innovations in the Scientific
            Community.
          </p>
          <br />
        </div>
        <a
          target="_blank"
          href="https://www.nfsu.ac.in/academic"
          style="display: none"
        ></a>
      </div>
      <div class="card pop-out">
        <img
          loading="lazy"
          src="https://img.freepik.com/free-photo/ai-cloud-concept-with-robot-arm_23-2149739748.jpg"
          class="card-img-top"
          alt="Innovation Oriented"
          height="250"
          style="object-fit: cover"
        />
        <div class="card-body">
          <br />
          <h4 class="card-title">Innovation Oriented</h4>
          <p class="card-text">
            Promoting the All-around Development of Students through a myriad of
            Cultural and Sports Activities, Fests, National and International
            Conferences, Competitions and Exhibitions.
          </p>
          <br />
        </div>
        <a
          target="_blank"
          href="https://www.nfsu.ac.in/academic"
          style="display: none"
        ></a>
      </div>
    </div>
  </div>
  <!-- logos -->
  <script
    src="https://code.jquery.com/jquery-2.2.0.min.js"
    type="text/javascript"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

  <div class="logos-cont">
    <h2 style="text-align: center" class="pop-out">Past Recruiters</h2>
    <hr style="color: powderblue" />

    <section class="customer-logos slider">
      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498665/nse_vma8mv.jpg"
        />
      </div>

      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498664/abb_covv3p.png"
        />
      </div>

      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498666/Salesforce_gkoanz.png"
        />
      </div>
      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498666/qualcomm_dc47r7.png"
        />
      </div>
      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498665/icic_m4fhz7.png"
        />
      </div>
      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498664/deloitte_fzbz3s.png"
        />
      </div>
      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498664/Amazon_lerdye.png"
        />
      </div>

      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498665/boa_bqwjfk.png"
        />
      </div>
      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498665/delhipolice_dl6osh.png"
        />
      </div>

      <div class="slidi">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498665/Microsoft_kxlmrr.png"
        />
      </div>
    </section>
    <br />
  </div>

  <!-- <br /><br /><br /><br /><br /><br /><br /><br /> -->
  <!--  -->
  <div class="stat-poster">
    <div class="stat-row poster-span">
      <div class="stat-col">
        <h1 class="pop-out">200+</h1>
        <br />
        <h4 class="pop-out">Companies Recruited From NFSU Gandhinagar</h4>
      </div>
      <div class="stat-col">
        <h1 class="pop-out">2100+</h1>
        <br />
        <h4 class="pop-out">Students Successfully Recruited</h4>
      </div>
    </div>
    <div class="poster-span stat-row stat-table">
      <table>
        <thead>
          <tr>
            <th>Package Offered</th>
            <th>CTC (Full-Time)</th>
            <th>Stipend (Internship)</th>
          </tr>
        </thead>
        <tbody>
          <tr  style="background-color: rgb(255, 255, 255, 0.2)">
            <td>Highest</td>
            <td>67 LPA </td>
            <td>1.5 LPM </td>
          </tr>
          <tr>
            <td>Median</td>
            <td>13 LPA </td>
            <td>30 TPM </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
 <!-- <div class="gc-calendar">
     <iframe
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FKolkata&bgcolor=%23ffffff&hl=en_GB&title=THE%20PLACEMENT%20CELL'S%20SCHEDULE&src=c21pbGUuaXRzYWRpbEBnbWFpbC5jb20&src=Y19jbGFzc3Jvb21kY2NiZmMxOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb201OTE3OTA4ZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb200MTM4NGJlNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y2xhc3Nyb29tMTA3MTAxNjg1MzY2NzcxNTAzNzQxQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb21iNzE4NDAxMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb200MGQ5Y2ExMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb21iZGViOGRlOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb200YWQwZTEwMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb202ZTZiMzgyMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230047a8&color=%230047a8&color=%230047a8&color=%230047a8&color=%2333B679&color=%23137333&color=%23007b83&color=%230B8043&color=%230047a8&color=%230047a8&color=%230047a8"
      style="border-width: 0"
      frameborder="0"
      id="gcoriginal"
      scrolling="no"
    ></iframe>
    <iframe
      src="https://embed.styledcalendar.com/#oE33p70wdpD5w82hNY6A"
      title="Styled Calendar"
      class="styled-calendar-container"
      style="width: 100%; border: none"
      data-cy="calendar-embed-iframe"
    ></iframe>
    <script
      async
      type="module"
      src="https://embed.styledcalendar.com/assets/parent-window.js"
    ></script>
  </div> -->
  <div class="home-third">
    <div class="container container-info">
      <h1>The School of Cyber Security and Digital Forensics (SCSDF) at NFSU</h1>
      <p style="text-align: justify;">
        The SCSDF has the best training infrastructure at par with global standards. The Centre of Excellence in Cyber Security (erstwhile Cyber Defence Centre (CDC)) at Gandhinagar is the first-ever ISO/IEC 27001 Certified Laboratory in India with advanced Cyber Range capabilities and covers a wide spectrum of use-cases on Information Communication Technology (ICT), Operational Technology (OT) and Internet of Things (IoT), along with The CoE in Digital Forensics incorporating ISO 27037, ISO 17025, and Section 79(A) of the IT Act. The vision is to train future Cyber-security leaders who can contribute effectively towards the Cyber-security capacity building of the nation. Towards that, the School is focusing on four main areas, which are, advanced lab work for students, Research & Development, Innovations and technical acumen to investigate the security breaches.
      </p>
      <div class="course-table">
        <table>
          <thead>
            <tr>
              <th colspan="3">OFFERED COURSES IN SCSDF</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Bachelor of Technology in Computer Science (B.Tech) + Master of Technology (M.Tech) in
                Cyber Security (Integrated)
              </td>
            </tr>
            <tr>
              <td>Master of Technology (M.Tech) in Cyber Security </td>
            </tr>
            <tr>
              <td>
                Master of Technology (M.Tech) in Applied Data Science and Artificial
                Intelligence
              </td>
            </tr>
              <td>
                Master of Sciences (M.Sc) in Cyber Security
              </td>
            </tr>
            </tr>
              <td>
                Master of Sciences (M.Sc) in Digtal Forensics & Information Security
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <img src="https://www.ssagujarat.org/nimages/gallery/13.jpg" alt="" /> -->

      <div
        id="carouselExampleAutoplaying"
        class="carousel slide no-style"
        data-bs-ride="carousel"
        data-bs-interval="1000"
        id="make-radius"
      >
        <div class="carousel-inner" id="make-radius">
          <div
            class="carousel-item active"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512903/NFSU_01_Front_View_ess8c4_1_fwfszo.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711016540/NFSU_01_Front_View_ess8c4.jpg"
              class="d-block w-100 no-style"
              alt="Logo..."
              id="make-radius"
            />
          </div>
          <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512905/NFSU_10_Upper_Auditorium_asamvx_2_gw3wzo.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711016540/NFSU_10_Upper_Auditorium_asamvx.jpg"
              class="d-block w-100 no-style"
              alt="Logo..."
              id="make-radius"
            />
          </div>
          <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512900/NFSU_4_NFSU_Drone_View_gnfxpd_1_oezrco.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711016540/NFSU_4_NFSU_Drone_View_gnfxpd.jpg"
              class="d-block w-100 no-style"
              alt="Logo..."
            />
          </div>
          <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712513508/NFSU_9_All_Equipped_Seminar_Hall_1_xp8xmr.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711016540/NFSU_9_All_Equipped_Seminar_Hall_u5ecy8.jpg"
              class="d-block w-100 no-style"
              alt="Logo..."
            />
          </div>
          <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512903/NFSU_8_Ballistics_Research_and_T_bmrjsn.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711016540/NFSU_8_Ballistics_Research_and_Testing_Range_lblcxj.jpg"
              class="d-block w-100 no-style"
              alt="Logo..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <br /><br /><br /><br /><br /><br />
<div class="animated-hr-purple"></div>


      <!-- <h1>Center of Excellence in Cybersecurity & Digital Forensics</h1>
      <p>
        The Center of Excellence Lab of Cybersecurity serves as a dedicated hub
        for advancing knowledge, research, and practical solutions in the field
        of cybersecurity. With a mission to foster innovation and excellence,
        the lab provides a dynamic environment where experts, researchers, and
        students collaborate to address the evolving challenges in
        cybersecurity.
      </p>
      <img
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710653525/WhatsApp_Image_2024-03-17_at_10.59.54_lsmzzx.jpg
      "
        alt=""
      /> -->
      <div class="two-cards container" id="two-cards-container">
        <div class="two-cards-card">
          <div>
            <h1>
              Centre of Excellence in
              <span id="tags-twocards-cyber">Cybersecurity</span>
            </h1>

            <p>
              The Centre of Excellence - Cyber Security, previously known as
              Cyber Defense Centre of NFSU is the "first-ever" ISO/IEC 27001
              Certified Laboratory in India with the United Kingdom
              Accreditation Service (UKAS) Accreditation. The Centre has been
              notified as the “Examiner of Electronic Evidences” under 79(a)
              section of IT Act 2000 by Ministry of Ministry of Electronics and
              Information Technology (MeitY) with reference to gadget
              notification no:3390 dated August 8, 2023.
            </p>
          </div>
          <div>
            <a
              href="https://drive.google.com/file/d/1G2u7CsJFyfoc742Y7jYMQYdkEJjWF7OB/view?usp=drive_link"
              class="btn btn-primary"
              target="_blank"
              >Learn about CoE CyberSecurity</a
            >
            <div
              style="
                background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512903/aa_axjyf4_1_oq7f20.jpg);
                border-radius: 1.5rem;
              "
            >
              <img
                loading="lazy"
                src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498588/aa_axjyf4.jpg
      "
                alt="CoE CyberSecurity.."
              />
            </div>
          </div>
        </div>
        <div class="two-cards-card">
          <div>
            <h1>
              Centre of Excellence in
              <span id="tags-twocards-digital">Digital Forensics</span>
            </h1>

            <p>
              Incorporating ISO 27037, ISO 17025, and Section 79(A) of the IT
              Act into the practices and policies of a Centre of Excellence
              Digital Forensics enhances its redibility, integrity, and legal
              compliance in conducting digital forensic investigations. These
              standards and provisions play a crucial role in ensuring the
              integrity, reliability and legal admissibility of digital evidence
              in the context of digital forensics which help to establish best
              practices, competence and legal protection for agencies,
              organizations and professionals involved in digital forensic
              investigations.
            </p>
          </div>
          <div>
            <a
              href="https://drive.google.com/file/d/1Ucryu-MxJYg3US-YRXCqmKfzBfYI-txf/view"
              class="btn btn-primary"
              target="_blank"
              >Learn about CoE Digital Forensics</a
            >
            <div
              style="
                background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512903/WhatsApp_Image_2024-03-14_at_16._vkwp2h.jpg);
                border-radius: 1.5rem;
              "
            >
              <img
                loading="lazy"
                src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710498588/WhatsApp_Image_2024-03-14_at_16.55.31_bjm770.jpg
      "
                alt="CoE Digital Forensics.."
              />
            </div>
          </div>
        </div>
      </div>

      <br /><br /><br /><br /><br /><br />
<div class="animated-hr-purple"></div>

      <br />

      <div class="beyond-placement">
        <h1>Beyond Placement: Shaping Futures</h1>
        <p>
          NFSU is more than just a platform for employment. We believe in
          holistic development, offering a myriad of workshops, seminars, and
          industrial tours to equip our students with the skills and knowledge
          needed to thrive in a dynamic global landscape.
        </p>


<div
        id="carouselExampleAutoplaying"
        class="carousel slide no-style"
        data-bs-ride="carousel"
        data-bs-interval="1000"
        id="make-radius"
      >
        <div class="carousel-inner" id="make-radius">
          <div
            class="carousel-item active"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512903/NFSU_01_Front_View_ess8c4_1_fwfszo.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://beta.nfsu.ac.in/Uploads/gallary/Image_20230412214732.jpg"
              class="d-block w-100 no-style"
              alt="Logo..."
              style="height: 35rem;width: auto;object-fit: cover;"
              id="make-radius"
            />
          </div>
          <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512905/NFSU_10_Upper_Auditorium_asamvx_2_gw3wzo.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713260523/WhatsApp_Image_2024-04-16_at_14.33.21_nhb6io.jpg"
              class="d-block w-100 no-style"
               style="height: 35rem;width: auto;object-fit: cover;"
              alt="Logo..."
              id="make-radius"
            />
          </div>
          <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512900/NFSU_4_NFSU_Drone_View_gnfxpd_1_oezrco.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713260523/WhatsApp_Image_2024-04-16_at_14.33.22_jcjzbe.jpg"
              class="d-block w-100 no-style"
              alt="Logo..."
               style="height: 35rem;width: auto;object-fit: cover;"
            />
          </div>
          <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712513508/NFSU_9_All_Equipped_Seminar_Hall_1_xp8xmr.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713260523/WhatsApp_Image_2024-04-16_at_14.32.09_1_yenax0.jpg"
              class="d-block w-100 no-style"
               style="height: 35rem;width: auto;object-fit: cover;"
              alt="Logo..."
            />
          </div>
          <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512903/NFSU_8_Ballistics_Research_and_T_bmrjsn.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713260523/WhatsApp_Image_2024-04-16_at_14.35.56_ff2cuk.jpg"
              class="d-block w-100 no-style"
               style="height: 35rem;width: auto;object-fit: cover;"
              alt="Logo..."
            />
          </div>
           <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512903/NFSU_8_Ballistics_Research_and_T_bmrjsn.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713260523/WhatsApp_Image_2024-04-16_at_14.32.08_lci6w3.jpg"
              class="d-block w-100 no-style"
               style="height: 35rem;width: auto;object-fit: cover;"
              alt="Logo..."
            />
          </div> <div
            class="carousel-item"
            id="make-radius"
            style="
              background-image: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712512903/NFSU_8_Ballistics_Research_and_T_bmrjsn.jpg);
            "
          >
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713260523/WhatsApp_Image_2024-04-16_at_14.32.09_sx6xfk.jpg"
              class="d-block w-100 no-style"
               style="height: 35rem;width: auto;object-fit: cover;"
              alt="Logo..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      </div>
    </div>


  </div>
</div>
<div class="news">
  <br /><br /><br />
  <br />

  <h2 class="news-title pop-out">News@NFSU</h2>

  <div class="social-feeds">
    <div class="twitter-card pop-out">
      <!-- Paste the Twitter embed code here -->
      <a
        class="twitter-timeline"
        href="https://twitter.com/NFSU_Official?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
        >Please Wait...</a
      >
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
    <!-- <div class="linkedin-card pop-out">
      <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7183402634341462016"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"
      ></iframe>

    </div> -->

    <div class="insta-card pop-out">
      <!-- Paste the Instagram embed code here -->
      <blockquote
        class="instagram-media"
        data-instgrm-permalink="https://instagram.com/p/C4ib2PyvN28/?img_index=1"
        data-instgrm-version="13"
      ></blockquote>
      <blockquote
        class="instagram-media"
        data-instgrm-permalink="https://www.instagram.com/p/C4dSJ42twiY/?img_index=1"
        data-instgrm-version="13"
      ></blockquote>
      <blockquote
        class="instagram-media"
        data-instgrm-permalink="https://www.instagram.com/p/C3u1HwvsMOU/?igsh=YzljYTk1ODg3Zg=="
        data-instgrm-version="13"
      ></blockquote>

      <script async src="//www.instagram.com/embed.js"></script>
    </div>
  </div>
  <br /><br /><br /><br /><br />
</div>
<hr>

<script>
  let infoContainersh1 = document.querySelectorAll(".container-info h1");

  let infoContainersp = document.querySelectorAll(".container-info p");

  let infoContainersimg = document.querySelectorAll(".container-info img");

  document.addEventListener("DOMContentLoaded", () => {
    infoContainersp.forEach((item) => {
      item.classList.add("pop-out");
    });
    infoContainersh1.forEach((item) => {
      item.classList.add("pop-out");
    });
    infoContainersimg.forEach((item) => {
      item.classList.add("pop-out");
      if (item.classList.contains("pop-out-active")) {
        item.style.transform = "translateX(0)";
        item.style.opacity = 1;
      }
    });
  });
</script>

<!--  moving logos-->
<script>
  $(document).ready(function () {
    $(".customer-logos").slick({
      slidesToShow: 6,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 5,
      arrows: false,
      dots: false,
      pauseOnHover: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 4,
          },
        },
        {
          breakpoint: 520,
          settings: {
            slidesToShow: 3,
          },
        },
      ],
    });
  });
</script>
<!--  -->

<!--  -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var copyButtons = document.querySelectorAll("#con-btn");

    copyButtons.forEach((copyButton) => {
      copyButton.addEventListener("click", function () {
        var buttonText = copyButton.querySelector("p").innerText;
        let p = copyButton.querySelector("p");
        let originalText = buttonText;
        p.innerText = "Copied !";
        navigator.clipboard
          .writeText(buttonText)
          .then(function () {
            console.log("Text copied successfully: " + buttonText);

            setTimeout(function () {
              p.innerText = originalText;
            }, 2000);
            // You can add a message or visual indication that the text has been copied here
          })
          .catch(function (err) {
            console.error("Error copying text: ", err);
            // Handle any errors that occur during copying
          });
      });
    });
  });
</script>
<!--  -->
<!-- card click links -->
<script>
  let cards = document.querySelectorAll(".card");
  cards.forEach((card) => {
    card.addEventListener("click", () => {
      let tolink = card.querySelector("a"); // Select the <a> element inside the card
      tolink.click(); // Click on the <a> element
    });
  });
</script>
