<%layout("/layouts/boilerplate.ejs")%>
<div class="login-big-div login-stu">
  <div class="left-login">
    <div class="pop-out">
      <a href="/"
        ><img
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
          alt=""
      /></a>
    </div>
  </div>
  <div class="right-login">
    <div class="login-card pop-out">
      <h2>Sign-in to NFSU Placement Portal</h2>
      <br /><br />
      <h5 class="login-identity"><p>Student</p></h5>
      <br /><br /><br />
      <form action="#">
        <input type="text" placeholder="Enrollment No." />
        <br /><br />
        <input type="password"  placeholder="Password" />
        <br /><br /><br />
        <h6>Forgot Password?</h6>
        <br /><br />
        <button class="btn btn-lg btn-primary" type="submit">Sign-In</button>
      </form>

      <br /><br />
      <div class="register-here">
        <a href="/register/stu">Don't have an account? Register Here</a>
      </div>
    </div>
  </div>
</div>
