<%layout("/layouts/boilerplate.ejs")%>
<link rel="stylesheet" href="/style.css" />

<div class="login-big-div login-stu">
  <!-- <div class="left-login">
    <div class="pop-out">
      <a href="/"
        ><img
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
          loading="lazy"
          alt=""
      /></a>
    </div>
  </div> -->
  <div class="right-login">
    <div class="login-card pop-out">
      <div style="text-align: center">
        <a href="/"
          ><img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
            loading="lazy"
            width="300"
            alt=""
        /></a>
      </div>
      <br />
      <h4 style="text-align: center">Please Enter the OTP For Registration</h4>
      <br /><br />
      <h5 class="login-identity"><p><%=username%></p></h5>

      <form action="/otp-verify" method="post">

        <input
          type="email"
          style="display: none;"
          name="email"
          value="<%=email%>"
        />
        <br /><br />
        <input type="tel" name="otp" style="text-align: center;" placeholder="Enter the OTP" />
        <br /><br />
        <br />
        <button class="btn btn-lg btn-primary" type="submit">Verify</button>
      </form>

      <br /><br />
      <!-- <div class="register-here">
        <a href="/register/stu">Don't have an account? Register Here</a>
      </div> -->
    </div>
  </div>
</div>
