<%layout("/layouts/boilerplate.ejs")%>

<div class="big-div-team">
  <div class="team-banner">
    <h1 class="pop-out">NFSU Placement Coordinators</h1>
    <br /><br />
    <h2>Feel free to reach out to us at spo@nfsu.ac.in</h2>
  </div>
  <br /><br /><br /><br />
  <h1 class="team-title pop-out">Overall Placement Coordinators</h1>
  <hr />
  <div class="team-cards">
    <div class="person pop-out">
      <br /><br />
      <img src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg" alt="" />
      <br />
      <h2>Dean</h2>
      <p>School of Cyber Security & Digital Forensics</p>
      <h3>Dr. Naveen Kumar Choudhary</h3>
    </div>
    <div class="person pop-out">
      <br /><br />
      <img src="https://beta.nfsu.ac.in//Uploads/Profile/168.jpg" alt="" />
      <br />
      <h2>Associate Dean</h2>
      <p>School of Cyber Security & Digital Forensics</p>

      <h3>Dr. Parag Rughani</h3>
    </div>
  </div>
  <h1 class="team-title pop-out">Associate Coordinators</h1>
  <hr />
  <div class="team-cards">
    <div class="person pop-out">
      <br /><br />
      <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
      <br />
      <h2>Associate Professor</h2>
      <p>School of Cyber Security & Digital Forensics</p>
      <h3>Dr. Ahlad Kumar</h3>
    </div>
    <div class="person pop-out">
      <br /><br />
      <img
        src="https://media.licdn.com/dms/image/D4D03AQHpU0if8xjsuA/profile-displayphoto-shrink_800_800/0/1685044053929?e=1716422400&v=beta&t=s6SewM362Ib3IGIYLqd0spP_qhZhxHrxRA3ZK_v1dV4"
        alt=""
      />
      <br />
      <h2>Secretary</h2>
      <p>Office of Placement and Internship Cell</p>
      <h3>Mr. Ankit Sharma</h3>
    </div>
  </div>
  <h1 class="team-title pop-out">Project Teams</h1>
  <hr />
  <h1 class="team-title pop-out" style="color: midnightblue">"WEB Team"</h1>
  <hr />
  <div class="team-cards">
    <div class="person pop-out">
      <br /><br />
      <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
      <br />
      <h2>Associate Professor</h2>
      <p>School of Cyber Security & Digital Forensics</p>
      <h3>Dr. Ahlad Kumar</h3>
    </div>
  </div>
</div>
