<%layout("/layouts/boilerplate.ejs")%>
<link rel="stylesheet" href="/style.css" />
<div class="regis-big-div">
  <div class="regis-logo">
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
      alt=""
    />
  </div>
  <form
    novalidate
    class="needs-validation"
    action="/register/rec"
    method="post"
  >
    <div class="down-regis">
      <div class="resources-student-big-div">
        <div class="content-div regis-content-div" id="procedure">
          <div class="content-title container">
            <h2 style="text-align: center">Registration : Student</h2>
            <hr />
            <h2>Personal Details</h2>
            <br />

            <div class="input-fields">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstname"
                  placeholder="First Name"
                />
              </div>
              <div class="form-group">
                <label for="surname">Surname</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
              <div class="form-group">
                <label for="surname">Father's Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
              <div class="form-group">
                <label for="surname">Mother's Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>

              <div class="card">
                <div class="card-body">
                  <p class="regis-card-title">Gender*</p>
                  <div class="card-text" id="gender-div">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="gender"
                      />
                      <label class="form-check-label" for="gender">
                        Female
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="gender2"
                      />
                      <label class="form-check-label" for="gender2">
                        Male
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="gender3"
                      />
                      <label class="form-check-label" for="gender3">
                        Other
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="surname">Birth Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
              <div class="card">
                <div class="card-body">
                  <p class="regis-card-title">Marital Status</p>
                  <div class="card-text" id="gender-div">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="gender"
                      />
                      <label class="form-check-label" for="gender">
                        Married
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="gender2"
                      />
                      <label class="form-check-label" for="gender2">
                        Unmarried
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="gender3"
                      />
                      <label class="form-check-label" for="gender3">
                        Separated
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <p class="regis-card-title">
                    Are you a person with a disability?
                  </p>
                  <div class="card-text" id="gender-div">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="gender"
                      />
                      <label class="form-check-label" for="gender"> YES </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="gender2"
                      />
                      <label class="form-check-label" for="gender2"> NO </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="surname">Mobile Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
              <div class="form-group">
                <label for="surname">Confirm Mobile No</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
              <div class="form-group">
                <label for="surname">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
              <div class="form-group">
                <label for="surname">Confirm Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
              <div class="form-group">
                <label for="surname">Category Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
              <div class="form-group">
                <label for="surname">Nationality</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="content-div regis-content-div" id="procedure">
          <div class="content-title container">
            <hr />
            <h2>Communication Details</h2>
            <br />
            <div class="comm-fields">
              <div class="input-fields">
                <div class="form-group">
                  <label for="firstname">Present Country</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    placeholder="First Name"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">Present State</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">Present District</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">City/Village/Landmark</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>

                <div class="form-group">
                  <label for="surname">Present Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>

                <div class="form-group">
                  <label for="surname">Pincode/Zipcode</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
              </div>
              insert same as present here
              <div class="input-fields">
                <div class="form-group">
                  <label for="firstname">Permanent Country</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    placeholder="First Name"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">Permanent State</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">Permanent District</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">City/Village/Landmark</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>

                <div class="form-group">
                  <label for="surname">Permanent Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>

                <div class="form-group">
                  <label for="surname">Pincode/Zipcode</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div regis-content-div" id="procedure">
          <div class="content-title container">
            <hr />
            <h2>Education Details</h2>
            <br />
            <div class="comm-fields">
              <div class="input-fields">
                <div class="form-group">
                  <label for="firstname">Present Country</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    placeholder="First Name"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">Present State</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">Present District</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">City/Village/Landmark</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>

                <div class="form-group">
                  <label for="surname">Present Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>

                <div class="form-group">
                  <label for="surname">Pincode/Zipcode</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
              </div>
              insert same as present here
              <div class="input-fields">
                <div class="form-group">
                  <label for="firstname">Permanent Country</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    placeholder="First Name"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">Permanent State</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">Permanent District</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
                <div class="form-group">
                  <label for="surname">City/Village/Landmark</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>

                <div class="form-group">
                  <label for="surname">Permanent Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>

                <div class="form-group">
                  <label for="surname">Pincode/Zipcode</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Surname"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div regis-content-div" id="procedure">
          <div class="content-title container">
            <hr />
            <h2>Declaration</h2>
            <br />
            I declare that I have read and understood all the terms and
            conditions mentioned in the advertisement. I fulfil all the
            requirements for candidature/appointment, on the basis of which the
            above details are filled in the online application and I have the
            original documents available. I am able to present whatever document
            is demanded by the university at any time. The above mentioned
            details are true and correct to my knowledge and belief and if any
            of the details are incorrect or the documents are found to be
            defective then my candidature/appointment is subject to revocation
            at any stage ab initio and I will be liable for criminal
            proceedings. I agree to it and the decision of the university in
            this matter will be final and it is binding on me.
            <br />
            Note: Your application will be considered valid only after mandatory
            confirmation on this website.
            <br /><br />
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Agree
              </label>
            </div>
            <br />
            <div class="submit-btn">
              <button class="btn btn-lg btn-success">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
