<%layout("/layouts/boilerplate.ejs")%>
<div class="resources-student-big-div">
  <div class="banner">
    <h1>For Companies</h1>
    <br />
    <h4>
      A collection of resources for companies to recruit at NFSU Gandhinagar.
    </h4>
    <br /><br />
    <div class="btns-container container">
      <a href="/resrec#procedure">
        <button class="btn btn-outline-light">Procedure</button>
      </a>
      <a href="/resrec#policy">
        <button class="btn btn-outline-light">Placement Policy</button>
      </a>
      <a href="/resrec#facilities">
        <button class="btn btn-outline-light">Facilities</button>
      </a>
      <a href="/resrec#resources">
        <button class="btn btn-outline-light">Resources</button>
      </a>
      <a href="/resrec#faq">
        <button class="btn btn-outline-light">FAQs</button>
      </a>
    </div>
  </div>
  <div class="content-div" id="procedure">
    <div class="content-title container">
      <h2>Procedure</h2>
      <div class="content-cards container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">
              The Students' placement office appoints a point of contact(PoC)
              for you.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">2</h5>
            <p class="card-text">
              You will need to contact your PoC or any placement coordinators
              (or mail to spo@iitk.ac.in) for your account credentials on the
              Recruitment Automation system(RAS).
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">3</h5>
            <p class="card-text">
              You need to fill out a Job Announcement Form (JAF) / Internship
              Proforma (IP) in the portal to share the offered profile details.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">4</h5>
            <p class="card-text">
              After verification of details by PoC, job/internship openings are
              visible on the portal as per dates decided by the placement team.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">5</h5>
            <p class="card-text">
              Students need to submit their resumes before the deadline set for
              the company on the RAS.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">6</h5>
            <p class="card-text">
              Companies conduct their PPT and tests/screening process after
              finalizing the schedule with the placement team.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">7</h5>
            <p class="card-text">
              The company submits the final list of shortlisted students for the
              interview process.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">8</h5>
            <p class="card-text">
              The placement office allots dates of interviews and PoC for the
              interview process.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">9</h5>
            <p class="card-text">
              Companies need to confirm the dates with the placement office over
              email.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">10</h5>
            <p class="card-text">
              Companies provide the list of selected and waitlisted students at
              the end of their interview slot.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">11</h5>
            <p class="card-text">
              The Placement office notifies the companies regarding the
              acceptance of selected students.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">12</h5>
            <p class="card-text">
              The company sends the offer letter to the selected candidates
              consistent with JAF/IP.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-div" id="policy">
    <div class="content-title container">
      <h2>Placement Policy</h2>
      <br /><br />
      <ol id="policy-lines">
        <li>
          The Students' Placement Office follows a strict "One Student, One Job
          Policy". Once a student is offered a job, he/she is out of the
          placement process
        </li>
        <li>
          On completion of the recruitment procedure, the company needs to
          submit the final list of offers in a closed envelope to the placement
          office. The offers will be opened at the end of the slot* when all
          companies finish their process
        </li>
        <li>
          No "On the Spot" offers should be made nor can any clue be given to
          any of the candidates during the placement interview.
        </li>
        <li>
          In case a candidate receives multiple offers, the candidate has to
          make a choice at the end of the slot. The companies will be intimated
          about the final choice of the candidate two hours after the end of the
          slot, or receipt of the offers, whichever is later.
        </li>
        <li>
          Since there is a high probability of multiple offers, the companies
          have to furnish a waiting list to the placement office along with the
          final offers. In case a student who is extended multiple offers
          chooses the other company, the first candidate in the waiting list
          moves up in the final offer list. The waitlist will not be disclosed
          to the students and will be released on a per student basis
        </li>
        <li>
          Companies are advised to be in touch with the Placement volunteers and
          staff at all times. They should not entertain any direct contact from
          the students appearing in the placement process. In case of such a
          situation, the company must bring this immediately to the notice of
          the Placement Office.
        </li>
        <li>
          In case of a delay of more than 60 days from the date of convocation
          (last week of June), the company has to pay the student the
          compensation for the delayed period.
        </li>
        <li>
          The slot allotted for the selection procedure by the placement office
          to the company is of 8 hrs. Although the companies are allowed to
          conduct tests beforehand to shortlist the candidates
        </li>
      </ol>
    </div>
  </div>
  <div class="content-div" id="facilities">
    <div class="content-title container">
      <h2>Facilities</h2>
      <br /><br />
      <ol id="policy-lines">
        <li>
          Pickup services on payment basis from Ahmedabad Airport and Ahmedabad
          Central Railway Station. Chopper rides from Ahmedabad Airport to NFSU
          campus can be availed on prior request to the Placement Office.
        </li>
        <li>
          Fully equipped Seminar and conference rooms for Group discussions and
          Personal Interviews.
        </li>
        <li>
          Centrally air conditioned Auditorium and Lecture halls, fully equipped
          with latest multimedia and Wi-Fi for Pre-Placement Talks(PPTs),
          Workshops, tests etc.
        </li>
        <li>Facility of Tele Conferencing and Video Conferencing.</li>
        <li>
          On campus accommodation in Visitors' Guest House for the recruiting
          panel (subject to availability).
        </li>
        <li>
          Access to all student profiles via a highly efficient and effective
          Placement Automation System (PAS).
        </li>
        <li>
          Round the clock assistance by the students' volunteers at each level
          of placement process.
        </li>
        <li>
          Highly motivated and experienced staff to coordinate the whole
          process.
        </li>
      </ol>
    </div>
  </div>
  <div class="content-div" id="resources">
    <div class="content-title container">
      <h2>Resources</h2>
      <div class="content-cards container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Job Announcement Form</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Internship Proforma</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Placement Policy</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Internship Policy</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Campus Recruitement Brochure</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Campus Recruitment Guide</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Steps - Company Registration</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Departmental Brochures</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-div content-div-faq" id="faq">
    <div class="content-title container">
      <h2>General FAQs</h2>
      <div class="content-cards content-cards-faq container">
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
What are the different ways a company can hire students from the campus?            </h5>
            <div class="card-text">
              The different ways of recruiting students are: Campus Recruitment Program in which final year students participate. Summer Internship Program for pre final year students which can be converted into a pre placement offer.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
How can a company register itself for the Campus Recruitment Program?            </h5>
            <div class="card-text">
              To participate in the Campus Recruitment Program, a company must first contact the placement office or register on the website. The company is then sent the login details which would let them login in our Placement Automation System (PAS) enabling them to post job opportunities & see the profiles of students interested in their job opening. You can also find the detailed Placement Procedure here
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
             Is there any fee associated with the process?
            </h5>
            <div class="card-text">
             No. There is no fees associated with the registration or the placement process.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
             When does the recruitment program start?
            </h5>
            <div class="card-text">
              The recruitment season is held in December every year and the PPT's can be held anytime between 10th of August to mid-November. For a detailed itinerary, Please refer to the Employer Calendar
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              What is the procedure to schedule a pre-placement talk (PPT)?
            </h5>
            <div class="card-text">
              A company will only be allowed to hold its PPT after filling up the job announcement form. A typical pre placement session is scheduled for 60 minutes. In view of the academic calendar of the students, the session are scheduled between 6PM to 9PM on weekdays, and between 10AM and 5PM hours on Saturdays and Sundays. Student volunteers will get in touch with the company to fix a mutual convenient time for the session.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              What kind of information do the students expect in PPTs?
            </h5>
            <div class="card-text">
              The pre-placement talk is a platform for interaction between the company and the students. The presentation is followed by a Q&A session where students interact with company officials to get a better understanding of the company and potential roles. The important insights that the students expect from the PPT are: Profile and reputation of the corporation Career roles and responsibilities offered in different types of profiles Locations where the student is likely to be posted Compensation packages
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
              On what basis is the slot allotted to a company for the final placement?
            </h5>
            <div class="card-text">
             Slotting is done subject to the following parameters:Student Preferences, Work profile, Compensation package, Career Prospects, Student Intake, and Past relationship with IIT Kanpur
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
               What are the infrastructural facilities available on the campus for the placement process?
            </h5>
            <div class="card-text">
              The campus is equipped with state of the art communication, computing, and presentation facilities to facilitate a smooth placement process:Teleconferencing and video conferencing facility, Linux and windows lab for online tests, Centrally air conditioned auditorium, lecture halls, seminar and conference rooms for presentations, group discussions and interviews.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
Are there multiple companies recruiting in the same slot? How is the case of multiple offers resolved?
            </h5>
            <div class="card-text">
              Yes, there are multiple companies recruiting in the same slot.The results of all the companies are announced at the end of the slot and if a student gets multiple offers then he is allowed to choose between one of them and inform the office of his decision before the beginning of the next slot.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
             Can a company interview the students already placed in other company?

            </h5>
            <div class="card-text">
             IIT Kanpur follows a One student; One job policy so once the job is registered against the student, he/she is not entitled to sit for any other company.
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">
               Is there any facility for the accommodation available on the campus?
            </h5>
            <div class="card-text">
              On campus accommodation on payment basis in visitors' guest house is available subject to availability. For alternate arrangements, the list of hotels is available here
            </div>
          </div>
        </div>
        <div class="card cardfaq">
          <div class="card-body">
            <h5 class="card-title">How can one commute between the campus & airport/railway station?</h5>
            <div class="card-text">
             The campus taxi service providers can be contacted for the same at the following numbers:
Trimurti Travels - Mr Surender Yadav - 0512-259 5094
Yadav Travels - Mr Rajpal Yadav - 0512-259 5095 - (Mobile : 93362 17156)
The list of institute approved taxi operators can be found here and approved rates can be found here.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let faqs = document.querySelectorAll(".cardfaq");
  faqs.forEach((faq) => {
    faq.addEventListener("click", (event) => {
      let cardText = faq.querySelector(".card-text");
      if (cardText.style.display == "inline") cardText.style.display = "none";
      else cardText.style.display = "inline";
    });
  });
</script>
