<%layout("/layouts/boilerplate.ejs")%>
<form action="/sendotp" method="post">
  <h3>Enter the Phone :</h3>
  <input
    type="number"
    name="mobileno"
    maxlength="10"
    minlength="10"
    placeholder="Enter no"
  />
  <h3>Enter the email :</h3>
  <input type="email" name="email" placeholder="Enter email" />
  <br />
  <button class="btn btn-primary">Send OTP</button>
  <br />
</form>
<input
  type="number"
  maxlength="6"
  minlength="6"
  name="mobileotp"
  placeholder="verify mobile otp"
/>

<br />
<input
  type="number"
  maxlength="6"
  minlength="6"
  name="emailotp"
  placeholder="verify email otp"
/>
<button class="btn btn-primary">verify</button>

<hr />
