<%layout("/layouts/boilerplate.ejs")%>

<div class="contactus">
  <h1 class="pop-out">Contact Us</h1>
  <br />
  <div class="contact-cont">
    <div class="team-cards">
      <div class="person">
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg"
        loading="lazy" alt=""/ >
        <br />
        <h2>Dr. Ahlad Kumar</h2>
        <br />
        <h4>Faculty Placement Coordinator</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>placement_scsdf@nfsu.ac.in</p>
        <p>ahlad.kumar@nfsu.ac.in</p>
      </div>
      <!-- <div class="person">
        <img loading="lazy"
        src="https://media.licdn.com/dms/image/D4D03AQHpU0if8xjsuA/profile-displayphoto-shrink_800_800/0/1685044053929?e=1717632000&v=beta&t=PyPyT-PA2JWil-74p5ZKuWAC2Cuf-AETXjs8alxMHt4"
        alt=""/ >
        <br />
        <h2>Mr. Ankit Sharma</h2>
        <br />
        <h4>Secretary</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>+91 92034-12345</p>
        <p>ankit.sharma@nfsu.ac.in</p>
      </div>
      <div class="person">
        <img loading="lazy"
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
        alt=""/ >
        <br />
        <h2>Mr. Secretary 2</h2>
        <br />
        <h4>Assitance Team Head</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>+91 94233-33365</p>
        <p>xyz@gmail.com</p>
      </div> -->
    </div>
    <br />
    <div class="map-div-contact">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12334.051958063006!2d72.65733148966417!3d23.2090179613326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2baae9f6f05d%3A0x4f9616711f2fb4e5!2sNational%20Forensic%20Sciences%20University!5e0!3m2!1sen!2sin!4v1710497409261!5m2!1sen!2sin"
        id="map"
        style="border: 0; border-radius: 1rem"
        allowfullscreen=""
        loading="lazy"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
