<%layout("/layouts/boilerplate.ejs")%>

<div class="big-div-team">
  <div class="team-banner">
    <h1 class="pop-out">NFSU Placement Team</h1>
    <br /><br />
    <h4 id="team-banner-h4" class="pop-out">
      Feel free to reach out to us at placement_scsdf@nfsu.ac.in or
      +919953878218
    </h4>
  </div>

  <div class="team-b">
    <!-- <h1 class="team-title pop-out">Overall Coordinators</h1> -->

    <div class="team-cards">
      <div class="person for-mob">
        <br /><br />
        <img
          src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg"
          loading="lazy"
          alt="Team's Photo"
        />
        <br /><br />
        <h3>Dr. Naveen Kumar Choudhary</h3>
        <h4>Dean</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="row non-mob">
        <div class="col-md-4">
          <img
            src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            Dean
          </h1>
          <br />
          <h2>Dr. Naveen Kumar Choudhary</h2>
          <br />
          <p>School of Cyber Security & Digital Forensics</p>
          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.facebook.com/nfsuofficial/"
              ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href="https://www.instagram.com/nfsu.official/?hl=en"
              ><i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person for-mob">
        <br /><br />
        <img
          loading="lazy"
          src="https://beta.nfsu.ac.in//Uploads/Profile/168.jpg"
          alt="Team's Photo"
        />
        <br />
        <br />
        <h3>Dr. Parag Rughani</h3>
        <h4>Associate Dean</h4>
        <p>School of Cyber Security & Digital Forensics</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="row non-mob">
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            Associate Dean
          </h1>
          <br />
          <h2>Dr. Parag Rughani</h2>
          <br />
          <p>School of Cyber Security & Digital Forensics</p>
          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.facebook.com/nfsuofficial/"
              ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href="https://www.instagram.com/nfsu.official/?hl=en"
              ><i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="https://beta.nfsu.ac.in//Uploads/Profile/168.jpg"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="team-a">
    <h1 class="team-title pop-out">HOD-Placement Cell Coordinators</h1>

    <div class="team-cards">
      <div class="row non-mob">
        <div class="col-md-4">
          <img
            src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            Assistant Professor
          </h1>
          <br />
          <h2>Dr. Ahlad Kumar</h2>
          <br />
          <p>School of Cyber Security & Digital Forensics</p>
          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.facebook.com/nfsuofficial/"
              ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href="https://www.instagram.com/nfsu.official/?hl=en"
              ><i class="fa-brands fa-instagram"></i>
            </a>
            <a
              target="_blank"
              class="card-links pop-out col"
              data-bs-toggle="collapse"
              data-bs-target="#message1"
            >
              <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
            </a>
            <div
              class="collapse"
              id="message1"
              style="background-color: transparent"
            >
              <div
                class="card card-body"
                style="
                  background-color: transparent;
                  border: dashed thin midnightblue;
                  padding: 0.5rem;
                "
              >
                Phone No: +91 99538-78218
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="person for-mob">
        <br /><br />
        <img
          loading="lazy"
          src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg"
          alt="Team's Photo"
        />
        <br />
        <h3>Dr. Ahlad Kumar</h3>
        <h4>Assistant Professor</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            data-bs-toggle="collapse"
            data-bs-target="#message2"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a>
          <div
            class="collapse"
            id="message2"
            style="background-color: transparent"
          >
            <div
              class="card card-body"
              style="
                background-color: transparent;
                border: dashed thin midnightblue;
                padding: 0.5rem;
              "
            >
              Phone No: +91 99538-78218
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-b">
    <h1 class="team-title pop-out">Student Placement Team</h1>
    <div class="team-cards">
      <div class="row non-mob">
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            SPC Secretary
          </h1>
          <br />
          <h2>Mr. Ankit Sharma</h2>
          <br />
          <p>School of Cyber Security & Digital Forensics</p>
          <p>Mtech Cyber Security</p>

          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/in/ankit01828"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href="https://www.instagram.com/ankit01828"
              ><i class="fa-brands fa-instagram"></i>
            </a>
            <a
              target="_blank"
              class="card-links pop-out col"
              data-bs-toggle="collapse"
              data-bs-target="#message3"
            >
              <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
            </a>
            <div
              class="collapse"
              id="message3"
              style="background-color: transparent"
            >
              <div
                class="card card-body"
                style="
                  background-color: transparent;
                  border: dashed thin midnightblue;
                  padding: 0.5rem;
                "
              >
                Phone No: +91 73397-55930
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="https://media.licdn.com/dms/image/D4D03AQHpU0if8xjsuA/profile-displayphoto-shrink_800_800/0/1685044053929?e=1717632000&v=beta&t=PyPyT-PA2JWil-74p5ZKuWAC2Cuf-AETXjs8alxMHt4"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
      </div>
      <div class="person for-mob">
        <br /><br />
        <img
          loading="lazy"
          src="https://media.licdn.com/dms/image/D4D03AQHpU0if8xjsuA/profile-displayphoto-shrink_800_800/0/1685044053929?e=1717632000&v=beta&t=PyPyT-PA2JWil-74p5ZKuWAC2Cuf-AETXjs8alxMHt4"
          alt="Team's Photo"
        />
        <br />
        <h3>Mr. Ankit Sharma</h3>
        <h4>SPC Secretary</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>Mtech Cyber Security</p>
        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/ankit01828"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/ankit01828"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            data-bs-toggle="collapse"
            data-bs-target="#message4"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a>
          <div
            class="collapse"
            id="message4"
            style="background-color: transparent"
          >
            <div
              class="card card-body"
              style="
                background-color: transparent;
                border: dashed thin midnightblue;
                padding: 0.5rem;
              "
            >
              Phone No: +91 73397-55930
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-b" id="thewebteam">
    <h1 class="team-title pop-out" style="color: midnightblue">WEB Team</h1>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/c_crop,ar_1:1/v1711880504/WhatsApp_Image_2024-03-31_at_15.51.11_rjjrbe.jpg"
          alt="Team's Photo"
        />
        <br />
        <h3>Mr. Adil Dyer</h3>

        <h4>Website Developer</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>BTech-MTech Cyber Security</p>
        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/adildyer/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            data-bs-toggle="collapse"
            data-bs-target="#message5"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a>
          <div
            class="collapse"
            id="message5"
            style="background-color: transparent"
          >
            <div
              class="card card-body"
              style="
                background-color: transparent;
                border: dashed thin midnightblue;
                padding: 0.5rem;
              "
            >
              Phone No: +91 92521-80504
            </div>
          </div>
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h3>Mr. Damodar Naik</h3>

        <h4>Website Developer</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>BTech-MTech Cyber Security</p>
        <div class="socials row pop-out">
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/adildyer/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h3>Mr. Sumit Gupta</h3>
        <h4>Website Developer</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>BTech-MTech Cyber Security</p>
        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/steosumit/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/steosumit/"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712127965/WhatsApp_Image_2024-04-03_at_12.10.52_aibyq0.jpg"
          alt="Team's Photo"
        />
        <br />
        <h3>Mr. Sai Vishwaa</h3>
        <h4>Poster Designer</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>BTech-MTech Cyber Security</p>
        <div class="socials row pop-out">
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="team-a">
    <h1 class="team-title pop-out" style="color: midnightblue">Alumni Team</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Facilitator-Team Alumni</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Ms. Khushi bansal</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/khushi-bansal-4b2054227?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Facilitator-Team Alumni</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Hemanth naik</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://in.linkedin.com/in/hemanth-nayak-15b438212"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/hemanthnaik240?igsh=MXE0a2llZW52ZnNqeg=="
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="team-b">
    <h1 class="team-title pop-out" style="color: midnightblue">
      Public Relations
    </h1>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Outreach Coordinator</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Ms. Sneh Singh</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/sneh-singh-cs?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/snehsingh_21?igsh=czhyNmFtZWFqcXNk"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://drive.google.com/open?id=1Q2dUaDOptFiSredb7BfkXoZswiDz0jNW"
          alt="Team's Photo"
        />
        <br />
        <h4>Outreach Coordinator</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Kunj Buddhdev</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/kunj-buddhdev-725b64255"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="team-a">
    <h1 class="team-title pop-out" style="color: midnightblue">
      Event Coordination
    </h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Event Coordinator</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Deeksha M Gautam</h3>
        <p>MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="www.linkedin.com/in/
deeksha--gautam"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Event Coordinator</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Soumitri Barury</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/adildyer/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Event Coordinator</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Kunal Choudhary</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://linkedin.com/in/kunalchy/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/the_kunal_choudhary/"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>

      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Event Coordinator</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Ms. Radhika Nair</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/radhika-nair-8aa009288?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/_radhika._.nair_?igsh=dWtmNjdpZ2h2M2dw"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://drive.google.com/open?id=1cUks82NP54uTQwp065w8m8xKm3GzoNY4"
          alt="Team's Photo"
        />
        <br />
        <h4>Event Coordinator</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Sherathiya Vivek Udaybhai</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/adildyer/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/vivek_sherathiya_?igsh=MTY4eGdqYnBjdnV5aw=="
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="team-b">
    <h1 class="team-title pop-out" style="color: midnightblue">
      Training & Mentorship
    </h1>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Mentor</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Ms. Sanchi Patel</h3>
        <p>MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/sanchi-patel-12351418b"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Mentor</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Satya Sravani Konda</h3>
        <p>MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/satya-sravani-konda-177ab4232?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Mentor</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Satyam Kumar</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/adildyer/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Mentor</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Priyanshu Verma</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/priyanshu-verma-ba3342282?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Mentor</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Pagolu Sravya</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/adildyer/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Mentor</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Soumyadipta Birabar</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/soumyadipta-birabar-1a1423247/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/soumyadipta07/"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="team-a">
    <h1 class="team-title pop-out" style="color: midnightblue">Treasury</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Treasurer</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Saji.M</h3>
        <p>MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="www.linkedin.com/in/saji-m-79b6292a7"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="team-b">
    <h1 class="team-title pop-out" style="color: midnightblue">
      Data Analysis
    </h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://drive.google.com/uc?export=download&id=1YretB839HlIDjxo6MrIEqn9rH89xgoep"
          alt="Team's Photo"
        />
        <br />
        <h4>Data Analyser</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Supriy Rathi</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/supriy-rathi-707160214?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>Data Analyser</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Sai Mani Kumar Pemmanaboina</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/sai-mani-kumar-pemmanaboina-1530b4267?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="team-a">
    <h1 class="team-title pop-out" style="color: midnightblue">
      SPC Class Representatives
    </h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>SPC Class Representative</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Shailesh Nanwani</h3>
        <p>MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/shailesh-nanwani-4aa877195"
            target="_blank"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>SPC Class Representative</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Sudarshan rangappa</h3>
        <p>MSc Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/sudarshan-rangappa-950a8a213?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/sudarshan.exe?igsh=YXNhanRkdjN2aXJ6"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>SPC Class Representative</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Debojyoti Gupta</h3>
        <p>MSc Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/debojyoti-gupta"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>SPC Class Representative</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. BharatSingh Rajpurohit</h3>
        <p>MTech ADS&AI</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/bsraigur"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/bsraigur"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712132763/Screenshot_2024-04-03_at_1.55.57_PM_hptk7n.png"
          alt="Team's Photo"
        />
        <br />
        <h4>SPC Class Representative</h4>

        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Shashi Raj</h3>
        <p>BTech-MTech Cyber Security</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/infzet/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a> -->

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/shashirajz/"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
