* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
nav {
  height: 7rem;
  background-color: transparent;
  padding: 0 !important;
  font-size: 1.4rem;
  color: white;
  background-color: #171717;
  background-color: rgb(0, 0, 0, 01);
  background-color: #000000;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 1);
}

.navbar .dropdown-item {
  font-weight: 500;
}
.navbar-brand {
  margin-left: 2rem;
  display: flex;
  color: white;
  align-items: center;
}

.navbar-brand p {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}
.navbar-brand:hover {
  color: white;
  font-weight: 500;
}

.navbar-toggler-icon {
  color: white;
  font-size: 1.4rem;
}

.nav-right {
  margin-left: auto;
  position: relative;
  top: 0.5rem;
}
#home-link {
  margin-right: 3rem;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: white;
  text-decoration: none;
}

.dropdown-toggle {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.dropdown-menu {
  font-size: 0.7rem;
}
.navbar-collapse button {
  border-radius: 1rem;
}

.pop-out {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s, transform 1s;
}

.pop-out.pop-out-active {
  opacity: 1;
  transform: scale(1);
}

/* index page  */

.home-big-div {
  position: relative;
  overflow: hidden;
  /* min-height: fit-content; */
}

.home-first {
  width: 100% !important;
  background-color: #171717;
  min-height: 90vh;
  color: black;
  background-color: transparent;
  background-color: white;
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}
.back-photo {
  box-shadow: inset rgb(0, 0, 0, 09) 10rem 10rem 100rem 100rem;

  background-image: url("https://www.ssagujarat.org/nimages/gallery/13.jpg");
  background-size: cover;
}

.home-first .title-name {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 5%;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  text-shadow: 2px 2px darkgray;
}
#greet {
  font-size: 2.5rem;
  font-weight: 100;
  text-shadow: 1px 1px lightskyblue;
  text-shadow: 2px 2px darkgray;
  font-style: italic;
  color: black;
  font-family: "Lobster Two", "Poppins", sans-serif;
}

.home-first img {
  transform: scale(0.82) translateX(15%);
  border-radius: 2rem;
  width: 90%;
  height: 90%;
  box-shadow: rgb(10, 215, 238) 0px 0px 60px, grey 0px 0px 100px;
  box-shadow: rgb(10, 215, 238, 0.6) 0px 0px 80px, grey 0px 10px 50px;
  box-shadow: rgb(255, 184, 157, 0.9) 0px 0px 100px, lightgray 0px 0px 00px;
}
/*  */
.home-second {
  min-height: 60vh;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-second h1 {
  text-align: center;

  margin-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

.btns-connect {
  width: 90rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0rem;
}
.btns-connect button p {
  font-size: 1.2rem;
}
.btns-connect button {
  color: white;

  /* border: thick rgb(255, 255, 255) solid; */

  background-color: midnightblue;
  width: 35%;
  margin-left: 1.5rem;

  margin-top: 3rem;
  line-height: 2rem;

  font-weight: 500;

  border-radius: 1.5rem;

  box-shadow: 6px 10px 20px 0rem rgba(15, 22, 108, 0.9);
  transition: box-shadow 0.2s, opacity 0.5s, background-color 0.3s;
  transform: 1s;
}

.btns-connect button:hover {
  box-shadow: rgb(181, 181, 181) 0px 0px 30px -10px;
  background-color: #fff;

  color: #4854f4;
  color: midnightblue;
}

/*  */

/* why recruit from nfsu? */

#whytitle {
  text-shadow: 2px 2px lightskyblue;
  text-shadow: 2px 2px rgb(108, 199, 229);
}

#whytitle-nfsu {
  text-shadow: 3px 3px lightcoral;
}

.home-fourth {
  min-height: 100vh;
  margin-top: 8rem;
  margin-bottom: 5rem;
  background-color: #fff;
}
.home-fourth h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: black;
}
.why-cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.card-body .card-title {
  min-height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why-cards .card .card-title {
  color: midnightblue;
}
#rdtitle {
  font-size: 1.3rem;
}

.why-cards .card .card-text {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 1rem;
  color: rgb(112, 37, 60);
  font-weight: 300;
}
.why-cards .card {
  width: 21rem;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 32rem;
  margin: 3rem;
  border-color: rgb(255, 105, 180, 0.2);
  box-shadow: 0.2rem 0.2rem 2rem pink;
  border-radius: 2rem;
  overflow: hidden;
  transition: opacity 1s, transform 0.4s;
}

.why-cards .card:hover {
  transform: scale(1.1) !important;
}

.stat-poster {
  width: 100% !important;
  background-color: powderblue;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poster-span {
  color: midnightblue;
  width: 100% !important;
  padding: 3rem;
  text-align: center;
}
.poster-span h1 {
  font-size: 2.5rem;
}
.stat-row {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}
.stat-col {
  width: 100%;
  padding-top: 3rem;
}

.stat-table {
  table {
    min-width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    text-align: center !important;
    color: midnightblue;
  }

  th {
    color: white;
  }

  thead {
    th {
      background-color: #55608f;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.4) !important;
      }
    }
  }
}

/* gc calendar  */
#gcoriginal {
  height: 80vh;
}
.gc-calendar iframe {
  all: initial;
  width: 100%;
}
/* #calendarTitle{
  font-size: 2rem;
  padding: 2rem !important;
  font-family: "Poppins", sans-serif !important;
} */

/*  */
.home-third {
  background-color: black;
  min-height: 100vh;
  color: white;
}
#carouselExampleAutoplaying {
  height: 70vh;
}
.home-third h1 {
  padding-top: 5rem;
}
.home-third p {
  padding-top: 2rem;
  font-weight: 300;
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.container-info {
  padding: 5rem 8rem;
}
.container-info img {
  border-radius: 2rem;
  width: 80%;
  /* transform: translateX(50rem); */
  opacity: 0;
  transition: opacity 1s;
}

.course-table {
  table {
    min-width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    margin: 3rem;
    margin-left: 0;
    margin-right: 0;
    border-radius: 1.5rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 15px;

    font-weight: 500;
    text-align: center !important;
  }

  th {
    color: white;
  }

  thead {
    th {
      background: linear-gradient(to right, darkblue, red);
      color: white;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgb(168, 183, 244) !important;
        color: black;
      }
    }
  }
  tr:nth-child(even) {
    background-color: blanchedalmond;
    color: #000;
  }
  tr:nth-child(odd) {
    background-color: #000;
    color: white;
  }
}

.two-cards {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  background-color: black;
  color: white;
  flex-wrap: wrap;
}

.two-cards-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5rem;
}
.two-cards-card a {
  margin-bottom: 1.5rem;
  width: 100%;
}
.two-cards-card p {
  font-size: 1rem;
  text-align: justify;

  font-weight: 400;
  letter-spacing: 0.1rem;
  min-height: 22rem;
}
#tags-twocards-cyber {
  text-shadow: 3px 3px blue;
}
#tags-twocards-digital {
  text-shadow: 3px 3px orangered;
}
.two-cards-card img {
  width: 100%;
  border-radius: 1.5rem;
  transform: translate(0, 0) !important;
}

/* https://malone-fluid-demo.squarespace.com/#colors:a=1.94,38.59,47.25;b=0,0,7.06;da=106.15,5.31,51.96;la=33.33,17.65,90;sda=1.94,38.59,47.25;sia=0,0,96.08;sida=0,0,96.08;sila=0,0,7.06;sla=0,0,96.08;w=0,0,96.08 */

/* */

.navbar-login {
  display: none;
}

.login-big-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  background-image: url("https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711016540/NFSU_8_Ballistics_Research_and_Testing_Range_lblcxj.jpg");
  background-size: cover;
  background-position: center;
}

.left-login {
  width: 100%;
  background-color: #433a32;
  background-color: transparent;
  max-height: 8rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.left-login img {
  transform: scale(0.06);
}

.right-login {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  background-color: rgb(255, 255, 255, 0.9);
  color: #0c359e !important;
  padding: 2rem;
  padding-top: 0;
  border-radius: 1rem;
}
.login-card img {
  padding: 0.5rem;
}

.login-card h5,
h6 {
  text-align: center;
  width: 40%;
  margin-left: auto;
  color: #0c359e;
  margin-right: auto;
}

.login-identity {
  border-bottom: #0c359e thick solid;
}
/*

.login-card h6 {
  color: #0c359e;
} */

.login-card button {
  text-align: center;
  margin-left: auto;
  width: 100%;
  background-color: #0c359e;
  border: none;
  margin-right: auto;
}

.signin-linkedin {
  background-color: #0077b5;
}
.login-card input {
  width: 100%;
  border: none;
  text-align: left;
  padding-left: 10px;
  height: 3rem;
  /* border-bottom: #0c359e thin solid; */
}

.login-card a {
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: #000;
  color: #0c359e;
  margin-left: auto;
  margin-right: auto;
}

.login-card a:hover {
  text-decoration: underline;
}

/* new login page  */

#logincard {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711016540/NFSU_8_Ballistics_Research_and_Testing_Range_lblcxj.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
}
/*footer */

.container-big-footer {
  background-color: #fff;
  color: black;
  width: 100%;

  padding: 3rem;
}
.footer-div {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  padding: 2rem;
  padding-left: 3rem;
}

.footer-card {
  height: fit-content;
  color: rgb(0, 0, 0, 1);

  line-height: 3rem;
  font-size: 1rem;
}
.footer-card .card-title {
  color: black;
  font-size: 2rem;
  min-height: 6rem !important;
  font-weight: 500;
}

.footer-card a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.7);
  color: rgb(140, 28, 28);
  font-size: 1.1rem;
}
.footer-card a:hover {
  color: black;
  text-decoration: underline maroon;
}
#map-div-footer {
  display: flex;
  flex-direction: column;
}
#map-div-footer iframe {
  height: 20rem;
  border-radius: 5%;
}

.socials-div {
  background-color: rgba(16, 16, 20, 255);
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-div p {
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials a {
  margin: 0.5rem;
  font-size: 2rem;
}

.footer-login {
  display: none;
}

/* socials*/
.news {
  padding-right: 5rem;
  padding-left: 5rem;
  /* padding-bottom: 3rem; */
}
.twitter-card,
.insta-card {
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* padding: 20px; */
  /*Center the card */
  /* background-color: #f9f9f9; */
  max-height: 40rem;
  overflow: scroll;
}
/* .linkedin-card {
  min-width: 40%;
}
.linkedin-card iframe {
  width: 100%;
  height: 100%;
} */
.twitter-card {
  min-width: 50%;
}

.social-feeds {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.news-title {
  text-align: center;
  padding-bottom: 5rem;
}
/* team page */

/*  */

.big-div-team {
  background-color: seashell;
}
.team-banner {
  background-color: #00539c;
  min-height: 50vh;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team-banner h1 {
  font-size: 3.5rem;

  font-weight: 800;
  /* text-shadow: dodgerblue 2px 2px; */
  text-align: center;
}
.team-cards .for-mob {
  display: none;
}
.team-cards .non-mob {
  width: 100%;
  padding: 5rem;
}
.team-cards .non-mob .col-md-4,
.team-cards .non-mob .col-md-8 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-cards .non-mob .col-md-4 img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 30%;
  border: blanchedalmond thick solid;
}
.team-cards .non-mob .col-md-8 {
  flex-direction: column;
}
.team-banner h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
.team-banner h4 {
  text-align: center;
}
.team-a {
  background-color: powderblue;
  padding-bottom: 5rem;
}
.team-b {
  padding-bottom: 5rem;
  background-color: seashell;
}
.team-a h1,
.team-b h1 {
  background-color: blanchedalmond;

  padding: 1rem;
}
.team-cards {
  height: fit-content;
  display: flex;

  padding-top: 1rem;
  /* padding-bottom: 6rem; */
  justify-content: center;
}
.team-title {
  font-size: 2rem;
  color: #00539c;
  /* text-shadow: dodgerblue 1px 1px; */
  font-weight: 800;
  text-align: center;
}

.person img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 30%;
  border: blanchedalmond thick solid;
}
.person {
  width: 50rem;
  border: black 0px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person p {
  margin-bottom: 0;
}

/* connect us page  */

/*  */
.contactus {
  background-color: #242424;
  height: fit-content;

  padding: 0rem;
  padding-bottom: 5rem;
  color: white;
}
.team-banner {
  width: 100%;
  background-color: black;
}

.contactus h1 {
  text-align: center;
  padding-top: 5rem;
}

.map-div-contact {
  width: 100% !important;
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}
.map-div-contact iframe {
  width: 80%;
  height: 30rem;
  margin-bottom: 3rem;
}

/* iframe { */
/* border-radius: 2rem; */
/* width: 80%;
  height: 30rem;
  margin-bottom: 3rem; */
/* } */

/* moving logos */

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider {
  background-color: white;
}

.slidi img {
  height: 14rem;
  object-fit: contain;
  width: 10rem;
}

/*  */

/* regis page  */

.regis-big-div {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow: hidden;
}

.regis-big-div form {
  line-height: 2rem;
}
.regis-big-div form .form-group {
  width: fit-content;
}
.regis-logo {
  width: 100%;
  height: 15rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: powderblue;
}
.regis-logo-img {
  width: 28rem;
  height: 10rem;
  background: url("https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png");
  background-size: cover;
  background-position: center;
}
/* .regis-logo-img img {
  object-fit: contain;
} */

.input-fields {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  margin-right: 05rem;
  margin-bottom: 1rem;
}

.form-group input {
  width: 15rem;
}

.down-regis .card {
  background-color: transparent;
  border: 0;
  width: 20rem;
}
.down-regis .card p {
  margin: 0;
}
.down-regis button {
  margin: 3rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 10rem;
}
.submit-btn {
  display: flex;
  justify-content: center;
}

.card-body {
  padding: 0;
}
.regis-card-title {
  text-align: start !important;
}

.comm-fields {
  display: flex;
  flex-wrap: wrap;
}

/*  */
/* for students */
.banner {
  padding-top: 1rem;
  width: 100%;
  height: 23rem;
  background-color: darkblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  counter-reset: white;
  background-color: #171717;
}
.banner h1 {
  color: white;
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: 0.1rem;
}
.banner h4 {
  color: white;
  font-weight: 100;
}

.btns-container {
  display: flex;
  justify-content: space-evenly;
}
.btns-container button {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: blanchedalmond;
  border: 1px solid #242424;
}

/*  */
.down-regis {
  width: 100%;
}
.resources-student-big-div {
  width: 100%;
}
.content-div {
  background-color: powderblue;
  height: fit-content;
  padding: 6rem;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 0;
}
#policy-lines {
  margin-top: 2rem;
}

.content-title h2 {
  font-weight: 700;

  text-shadow: 3px 3px rgb(115, 180, 183);
}

.content-cards {
  padding: 1rem;

  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.content-cards .card {
  max-width: 20rem;
  min-width: 20rem;
  margin: 1rem;
  min-height: fit-content;
  border: none;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content-cards .card .card-title {
  text-align: center;
  padding-top: 0.55rem;
}
.content-cards .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.content-cards .card .card-text {
  font-weight: 300;
  text-align: center;
}

.beyond-placement {
  padding-bottom: 6rem;
}

/* faq */

.content-cards .cardfaq {
  min-width: 100%;
  margin: 1rem;
  min-height: fit-content;
  border: none;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content-cards .cardfaq .card-text {
  display: none;
}
.content-div-faq {
  padding-bottom: 5rem;
}
/*  */

#policy-lines {
  line-height: 2rem;
  margin-bottom: 0;
}

img.no-style {
  all: initial;
}
.no-style {
  width: 50rem !important ;
}
#make-radius {
  border-radius: 2rem;
}
/*
@media screen and (max-width: 1470px) {
  .container-info img {
    transform: translateX(30rem);
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .btns-connect {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btns-connect button {
    justify-content: center;
    overflow: scroll;
    position: relative;
    right: 0.51rem;
  }
}
@media screen and (max-width: 920px) {
  .navbar {
    height: fit-content;
    padding-top: 5px;
  }
  .home-first {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 4rem;
  }

  .navbar-brand p {
    position: relative;
    top: 9px;
  }
  .home-first .title-name {
    font-size: clamp(0.5rem, 2rem, 3rem);
    margin-left: 2rem;
    margin-top: 10vh;
    height: 40vh;
    transform: translateX(100%);
  }
  .home-first img {
    transform: translateX(0) scale(0.85);
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 990px) {
  .social-feeds {
    flex-direction: column;
    align-items: center;
  }
  .twitter-card {
    max-width: 30rem;
    margin: 0;
    margin-bottom: 3rem;
  }
  .insta-card {
    margin: 0;
  }
}
@media screen and (max-width: 983px) {
  .footer-card {
    height: 35rem;
  }
  .bottom-stuff {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 900px) {
  .container-info img {
    transform: translateX(20rem);
    opacity: 0;
  }
}

@media screen and (max-width: 585px) {
  .navbar-brand {
    margin-left: 0;
  }
  .navbar-brand p {
    display: none;
  }
  .nav-img {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 566px) {
  .btns-connect button {
    width: 18rem;
  }
}

@media screen and (min-width: 450px) and (max-width: 920px) {
  .home-first .title-name {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 593px) {
  .container-info img {
    transform: translateX(10rem);
    opacity: 0;
  }
}

@media screen and (max-width: 766px) {
  .bottom-stuff {
    width: 100%;
    position: static;
    justify-content: center;

    margin-bottom: 5rem;
  }
  .bottom-stuff div {
    margin-bottom: 2rem;
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .twitter-card {
    max-width: 17rem;
    max-height: 30rem;
  }
  .insta-card {
    max-height: 30rem;
    transform: scale(0.8);
  }
} */

@media (max-width: 500px) {
  .navbar-brand img {
    width: 15%;

    margin-left: 1rem;
    height: auto;
  }
  .navbar-brand,
  .nav-right {
    all: initial;
  }
  .navbar-brand p {
    display: none;
  }
  .profile-icon-div {
    margin-bottom: 2rem;
  }
  .home-first {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
  }
  .home-first .row {
    width: 100%;
  }
  .home-first p {
    font-size: 2rem !important;
    padding-top: 2rem !important;
    padding-bottom: 4rem !important;
    width: 100% !important;
  }
  #greet {
    font-size: 1.5rem;
  }

  .home-first img {
    transform: translateX(0);
    width: 100%;
  }
  .div-firstimg {
    padding: 1rem;
    margin-top: 2rem;
  }
  .home-second h1 {
    font-size: 1.5rem;
  }
  .btns-connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
  }
  #con-btn {
    margin-left: 0;
  }
  #emailp {
    font-size: 1rem;
  }
  .home-fourth h1 {
    font-size: 2rem;
  }

  .slidi img {
    padding-left: 4rem;
  }
  .stat-poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .stat-row {
    padding: 0;
    flex-direction: column;
  }
  .stat-col {
    padding: 3rem;
  }

  .container-info {
    padding: 3rem;
  }
  .container-info h1 {
    text-align: start;

    padding-bottom: 2rem;
  }
  #carouselExampleAutoplaying {
    width: 100% !important;
    height: fit-content;
  }
  .carousel-item {
    width: 100%;
    height: 15rem;
  }
  #carouselExampleAutoplaying img {
    height: 15rem;
    width: 20rem !important;
  }
  .two-cards-card {
    width: 100%;
    padding: 0;
  }

  .beyond-placement img {
    width: auto !important;
    height: 15rem !important;

    transform: translate(0);
  }
  .news {
    padding: 2.5rem;
    padding-top: 0rem;
  }
  .social-feeds {
    flex-wrap: wrap;
  }

  .insta-card,
  .linkedin-card,
  .twitter-card {
    margin: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
    overflow: scroll;
  }
  .linkedin-card {
    height: 30rem;
  }

  .footer-div {
    padding: 0;
  }
  .footer-card {
    margin-bottom: 2rem;
    padding: 0 0;
    width: 100%;
  }
  .login-big-div {
    all: initial;
    background-image: url("https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711016540/NFSU_8_Ballistics_Research_and_Testing_Range_lblcxj.jpg");
    background-size: cover;
    background-position: center;
  }
  .left-login {
    width: 100%;
  }
  .left-login div {
    all: initial;
    height: 10rem;
    display: flex;
    align-items: center;
  }
  .left-login img {
    transform: scale(1);
    width: 20rem;
  }
  .right-login {
    width: 100%;
    padding: 2rem;
  }
  .right-login h2,
  .right-login h3 {
    text-align: center;
  }

  .regis-content-div {
    padding: 0;
    padding-top: 2rem;
  }
  .banner {
    height: fit-content;
  }
  .banner h1 {
    padding: 2rem;
  }
  .btns-container {
    flex-wrap: wrap;
  }
  .btns-container a {
    margin: 1rem;
  }
  .resources-student-big-div .banner h1 {
    font-size: 3.3rem;
    width: 100%;
  }
  .resources-student-big-div .banner h4 {
    text-align: center;
  }
  .content-div {
    padding: 0;
  }
  .content-div h2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    text-align: center;
  }
  .content-div .content-cards {
    all: initial;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .content-div .card {
    width: 100%;
  }
  .content-div-faq .content-title {
    padding-bottom: 2rem;
  }

  .team-banner h2 {
    font-size: 1.3rem;

    width: 100%;
  }
  .big-div-team img {
    width: 10rem;
    object-fit: cover;
    height: 10rem;
  }
  .non-mob {
    display: none;
  }
  .for-mob {
    display: block !important;
  }
  .person {
    text-align: center;
  }
  .person p {
    font-size: 0.8rem;
  }
  .person .socials {
    margin-top: auto;
    padding-top: 1rem;
  }
  .person .socials a {
    font-size: 1.5rem;
    margin: 0;
  }
  .person h2 {
    width: 90%;
  }
  .team-cards {
    flex-wrap: wrap;
  }
  .contactus .person {
    margin-bottom: 3rem;
  }
}
