<%layout("/layouts/boilerplate.ejs")%>

<div class="admin-big-div">
  <h1>here are pending recs.</h1>
  <div class="rec-pending"><%-allRecruitersPending%></div>
  <h1>here are pending Students.</h1>
  <div class="stu-pending"><%-allStudentsPending%></div>
</div>
